<h1 mat-dialog-title>Call Info</h1>
<div mat-dialog-content>
  <!-- <mat-form-field [cdkCopyToClipboard]="data.peerId" (click)="showCopiedSnackBar()">
    <mat-label>{{ data.joinCall ? 'INSERT REMOTE ID' : 'CLICK TO COPY YOUR ID' }}</mat-label>
    <input [disabled]="!data.joinCall" matInput [(ngModel)]="data.peerId">
  </mat-form-field> -->
  <mat-form-field  (click)="showCopiedSnackBar(data.peerId)">
    <mat-label>{{ data.joinCall ? 'INSERT REMOTE ID' : 'CLICK TO COPY YOUR ID' }}</mat-label>
    <input [disabled]="!data.joinCall" matInput [(ngModel)]="data.peerId">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <!-- <button [disabled]="if_copied == 0 && !data.joinCall"   mat-raised-button [mat-dialog-close]="data.peerId">Start Call</button> -->
  <button [disabled]="if_copied == 0 && !data.joinCall"   mat-raised-button [mat-dialog-close]="data.peerId">Ok</button>
  
</div>