<div class="coffee-main">
	<audio id="bellSound" style="display: none;">
		<source src="assets/audio/timeupbell.mp3" type="audio/mpeg">
	</audio>
	<audio id="postSound" style="display: none;">
		<source src="assets/audio/PostButtonClick.mp3" type="audio/mpeg">
	</audio>
	<audio id="joinSessionSound" style="display: none;">
		<source src="assets/audio/JoinSessionClick.mp3" type="audio/mpeg">
	</audio>
	<audio id="sessionStartingSound" style="display: none;">
		<source src="assets/audio/SessionStarting.mp3" type="audio/mpeg">
	</audio>
	<audio id="beforesessionStartingSound" style="display: none;">
		<source src="assets/audio/30SecondsbeforeSession.mp3" type="audio/mpeg">
	</audio>
	<audio id="CoffeeHouseBgMusic" style="display: none;">
		<source src="assets/audio/Cofeehousebackgroundsound.mp3" type="audio/mpeg">
	</audio>

	<youtube-player style="display: none;"
		[videoId]="id"
		(ready)="savePlayer($event)"
		(change)="onStateChange($event)"
		[playerVars]="playerVars">
	</youtube-player>


	<!-- <input type="button" (click)="playVideo('campFireVideo')" value="Play CampFireVideo">
	<input type="button" (click)="volChange()" value="Increase Vol"> -->
	<div class="banner">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand logo-second" href="javascript:void(0)"><img src="assets/images/focus-logo.png" alt="logo"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="top-right-navbar">
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="links">
					<ul>
						<li><a href="" data-target="#weekly-award" data-toggle="modal">Weekly <br>  Awards</a></li>
						<li><a href="" data-target="#community-chalange" data-toggle="modal">Community <br> Challanges</a></li>
						<!-- <li><a target="_blank"
								href="https://docs.google.com/forms/u/4/d/e/1FAIpQLSdVyLFuzpRcKjwYk0W9NeMvqG4cvySNJDgrhx7Pjy5_Ihjb7A/viewform?usp=send_form">
								Community <br> Challanges</a></li> -->
						<!-- <li><a routerLink="/">Take a Mindful Minute</a></li> -->
						<li><a href="javascript:void(0)" (click)="focusRadio()" #toggleButton>Focus <br>  Radio</a></li>
					</ul>
				</div>
					<ul class="navbar-nav ml-auto">
						<!-- <a class="volume"><img src="assets/images/volume-icon.png" alt="icon">
              <span class="line">
                     <span class="white"></span>
                      <button class="volume-round">
                   </button>
                   </span> 
              <div class="slidecontainer">
                <input (change)="ChangeVolume()"  [(ngModel)]="volumeSlider" name="volumeSlider" type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>
            </a> -->
						<!-- <button class="take-mind">Take a Mindful Minute <img src="assets/images/button-arrow.png"
                alt="icon"></button> -->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img [src]="imageUser" src="{{imageUser}}" src="assets/images/drop-img.png"
									class="rounded-circle" width="36" height="36">
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<!-- <a style="cursor: pointer;" *ngIf="guestOrUser =='user'"
									class="dropdown-item">Dashboard</a> -->
								<a style="cursor: pointer;" *ngIf="guestOrUser =='user'" class="dropdown-item"
									routerLink="/update-profile">Edit Profile</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser =='user'" style="cursor: pointer;"
									(click)="logout()" class="dropdown-item">Log Out</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser == 'guest'" class="dropdown-item"
									id="signhupforsession" data-toggle="modal" data-target="#signup-new-pop">Sign Up</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser == 'guest'" id="signinButton"
									class="dropdown-item" href="#" data-toggle="modal" data-target="#login-new-pop">Sign
									In</a>
							</div>
						</li>
					</ul>
				</div>
				</div>
			</nav>

			<div [ngClass]="{'hide-me': (showFocusRadio == 0)}" class="left-box-div breath focus-radio-popup" #menu>
				<!-- <span class="cross-popup" (click)="showFocusRadio = 0">&times;</span> -->
				<div class="left-div-left-content">
					<!-- <h2>Focus Radio <span class="info"></span></h2> -->
					
					<div class="sound-div">
						<h2>Music</h2>
						<ul class="tags-breath">
							<li>
								<label class="container-checkbox">
									<input name="ambientCheck" id="lofiCheck" [checked]="checkMusic('lofi')" value="lofi" class="musicCheckbox lofiCheck" type="radio"
										(click)="changeAudio('5qap5aO4i9A')" ([ngModel])="ambientCheck">
									<span class="checkmark">Lofi</span>
								</label>
							</li>
							<li>
								<label class="container-checkbox">
									<input name="ambientCheck" id="jazzCheck" [checked]="checkMusic('jazz')" value="jazz" class="musicCheckbox jazzCheck" type="radio"
										(click)="changeAudio('5yx6BWIEVcY')" ([ngModel])="ambientCheck">
									<span class="checkmark">Lofi Jazz</span>
								</label>
							</li>
							<li>
								<label class="container-checkbox">
									<input name="ambientCheck" id="ambientCheck" [checked]="checkMusic('ambient')" value="ambient" class="musicCheckbox ambientCheck" type="radio"
										(click)="changeAudio('T52rBA2wh74')" ([ngModel])="ambientCheck">
									<span class="checkmark">House</span>
								</label>
							</li>
							<li>
								<label class="container-checkbox">
									<input name="ambientCheck" id="ambientCheck" [checked]="checkMusic('classical')" value="classical" class="musicCheckbox classicalCheck" type="radio"
										(click)="changeAudio('XULUBg_ZcAU')" ([ngModel])="ambientCheck">
									<span class="checkmark">Classical</span>
								</label>
							</li>
						</ul>
					</div>
					<div class="sound-div">
						<h2>Ambient</h2>
						<ul class="tags-breath">
							<li>
								<label class="container-checkbox">
									<input type="radio" [checked]="checkMusic('forest')" value="forest"
										name="ambientCheck" ([ngModel])="ambientCheck"
										(click)="changeAudio('CcP8n_c1Ugg')">
									<span class="checkmark">Forests</span>
								</label>
							</li>
							<li>
								<label class="container-checkbox">
									<input type="radio" value="campfire" [checked]="checkMusic('campfire')"
										name="ambientCheck" ([ngModel])="ambientCheck"
										(click)="changeAudio('_KJRF4zBgQM')">
									<span class="checkmark">Campfire</span>
								</label>
							</li>
							<li>
								<label class="container-checkbox">
									<input type="radio" [checked]="checkMusic('cafe')" value="cafe"
										name="ambientCheck" ([ngModel])="ambientCheck"
										(click)="changeAudio('h2zkV-LTbY&t-10534s')">
									<span class="checkmark">Cafe</span>
								</label>
							</li>
							<li>
								<label class="container-checkbox">
									<input type="radio" [checked]="checkMusic('fireplace')" value="fireplace"
										name="ambientCheck" ([ngModel])="ambientCheck"
										(click)="changeAudio('IvJQTWGP5Fg')">
									<span class="checkmark">Fireplace</span>
								</label>
							</li>
						</ul>
					</div>

					<div class="sound-div">
						<h2></h2>
						<ul class="tags-breath">
							<li>
								<span class="sound-img"><img src="assets/images/sound.png"></span>
								<!-- <img style="cursor: pointer;" (click)="VolumeBarShowHide()"
									src="assets/images/volume-2.png"> -->
								<!-- <div *ngIf="volumeShow" class="volume-slider">
									<input (change)="ChangeVolume()" id="slider" [(ngModel)]="volumeSlider"
										name="volumeSlider" type="range">
								</div> -->
								<input [(ngModel)]="volumeSlider" (change)="volChange()" type="range" min="1" max="100" value="50">
							</li>
						</ul>
					</div>
					
				</div>
			</div><!-- left-box-div -->

			<div class="coffee-bottom">
				<ul>
					<li *ngIf="guestOrUser =='guest' && !joinCoffeeSessionBool" class="take-seat">
						<!-- <img src="assets/images/lock.png" alt="icon"> -->
						<h4>Take a seat, focus, and get stuff done!</h4>
						<p>powered by AI Focus Tracking</p>
						<p (click)="learnMore()" class="p_link">Learn More</p>
						<button data-toggle="modal" data-target="#signup-new-pop">Get Started!</button>
						<p class="free">It's free!</p>
					</li>
					<li *ngIf="joinCoffeeSessionBool" class="web-cam">
						<div class="video-on-div">Let's get things done, {{loggedInUserName}}</div>
						
						<div class="li-img" [ngClass]="{'hide-me': (videoMode == 0)}">
							<webcam></webcam>
						</div>
						<div *ngIf="videoMode == 0" class="person-profile-img">
							<img [src]="imageUser" src="{{imageUser}}" src="assets/images/drop-img.png"
									class="rounded-circle" width="36" height="36">
						</div>
						<div class="name">
							<ul>
								<li class="name-li">{{loggedInUserName}}</li>
								<!-- <li *ngIf="selfDesc && selfDesc != 'null'" class="devide">|</li>
    							<li *ngIf="selfDesc && selfDesc != 'null'">{{selfDesc}}</li> -->
								<!-- <li class="devide">|</li>
								<li *ngIf="selfDesc ">{{selfDesc}}</li>
                				<li *ngIf="!selfDesc "></li> -->
							</ul>
						</div>
						<div class="time leave-add">
							<span><img src="assets/images/clock.png" alt="icon">{{timeSpentOnSite}} today</span>
							<!-- <a style="cursor:pointer" (click)="leaveSession()" class="leave">Leave</a> -->
							<a *ngIf="videoMode == 1" style="cursor:pointer" (click)="switchVideoMode(0,'no')" class="leave">Video Off</a>
							<a *ngIf="videoMode == 0" style="cursor:pointer" (click)="switchVideoMode(1,'no')" class="leave">Video On</a>
						</div>
						<p *ngIf="focusText =='' && !addTeXt" class="desc" style="cursor: pointer;"
							(click)="AddFocus()">My Focus:</p>
						<p *ngIf="focusText !='' && !addTeXt" class="desc" style="cursor: pointer;"
							(click)="AddFocus()">{{focusText}}</p>

						<div *ngIf="addTeXt" class="post-main">
							<form (submit)="postFocusText()">
								<input style="width: 100%;" type="text" class="form-control edit-my-focus" [(ngModel)]="textFocus"
									name="textFocus">
							</form>

							<!-- <button class="btn" (click)="postFocusText()">Post</button> -->
						</div>
					</li>
					<li *ngIf="guestOrUser =='user' && !joinCoffeeSessionBool" class="take-seat only-btn">
						<button (click)="joinCoffeeSession()" id="seatJoiner">Take Your Seat</button>
					</li>
					<li>
						<div class="li-img">
							<video preload loop autoplay [muted]="'muted'" loop autoplay width="100%">
								<source type="video/mp4" src="assets/video/Vanessa A. (Position 1).mp4">
							</video>
						</div>
						<div class="name">
							<ul>
								<li>Vanessa A.</li>
								<!-- <li class="devide">|</li> -->
								<li><img  src="assets/images/Award1.png"></li>
							</ul>
						</div>
						<div class="time">
							<!-- <img src="assets/images/clock.png" alt="icon">50 Minutes today -->
							<img src="assets/images/clock.png" alt="icon">{{time1}} today
						</div>
						<p class="desc"> Developing the UX for my project which is set to launch Mar </p>
					</li>

					<li>
						<div class="li-img">
							<video preload loop autoplay [muted]="'muted'" loop autoplay width="100%">
								<source type="video/mp4" src="assets/video/Shawn Matthias (Position 2).mp4">
							</video>
						</div>
						<div class="name">
							<ul>
								<li>Shawn Matthias</li>
								<!-- <li class="devide">|</li> -->
								<li><img  src="assets/images/Award2.png"></li>
							</ul>
						</div>
						<div class="time">
							<img src="assets/images/clock.png" alt="icon">{{time2}} today
						</div>
						<p class="desc"> Just Working on my writing assignment</p>
					</li>

					<li>
						<div class="li-img">
							<video preload loop autoplay [muted]="'muted'" loop autoplay width="100%">
								<source type="video/mp4" src="assets/video/31.00 min Position 15 - (Position 3).mp4">
							</video>
						</div>
						<div class="name">
							<ul>
								<li>Arlene Tang</li>
								<!-- <li class="devide">|</li> -->
								<li><img  src="assets/images/Award2.png"></li>
							</ul>
						</div>
						<div class="time">
							<img src="assets/images/clock.png" alt="icon">{{time3}} today
						</div>
						<p class="desc">Studying for my history exam</p>
					</li>

					<li class="community-online">
						<div class="community-heading">
							<p>Community Online</p>
							<i (click)="communityHelpOnline()" class="fa fa-question-circle-o"></i>
						</div>
						<div>
							<div >
								<span *ngFor="let cu of onlineUsers; let i = index" data-toggle="modal" data-target="#User-detail" class="checkmark">
									<img [ngClass]="{'purple-border': (i == 0 && guestOrUser == 'user')}" class="comm_image rounded-circle" src="{{cu}}">
								</span>
								<span _ngcontent-sio-c1="" class="checkmark live-user-count">+184</span>
							</div>
						</div>
					</li>

					<!-- <li>
            <div class="li-img">
              <video preload loop autoplay [muted]="'muted'" loop autoplay width="100%">
                <source type="video/mp4" src="assets/video/Michelle Garrison (Position 4).mp4">
              </video>
            </div>
            <div class="name">
              <ul>
                <li>Michelle Garrison</li>
                <li class="devide">|</li>
                <li>Web Designer</li>
              </ul>
            </div>
            <div class="time">
              <img src="assets/images/clock.png" alt="icon">23 Minutes today
            </div>
            <p class="desc">Creating new website</p>
          </li> -->


					<!-- <li>
              <div class="li-img">
               <video preload loop autoplay [muted]="'muted'" loop autoplay width="100%" >
                   <source type="video/mp4" src="https://enacteservices.net/cherry-video/new-video.mp4">
                 </video>
              </div>
              <div class="name">
                <ul>
                  <li>Nicky Ong</li>
                  <li class="devide">|</li>
                  <li>Web Designer</li>
                </ul>
              </div>
              <div class="time leave-add">
                <span><img src="assets/images/clock.png" alt="icon">1 Minute today</span>
                <a href="" class="leave">Leave</a>
              </div>
              <p class="desc">My Focus : </p>
            </li> -->

					<!-- <li class="take-seat only-btn">
              <button>Take your Seat</button>
            </li> -->


					<!-- <li>
                <div class="li-img">
                    <webcam></webcam>
                </div>
                <div class="name">
                  <ul>
                    <li>Michelle Garrison</li>
                    <li class="devide">|</li>
                    <li>Web Designer</li>
                  </ul>
                </div>
                <div class="time">
                  <img src="assets/images/clock.png" alt="icon">23 Minutes today
                </div>
                <p class="desc">Creating new website</p>
              </li> -->

					<li class="remaning" style="display: none;">
						<h3 *ngIf="!fiveMinuteTimer">25-min Focus Session</h3>
						<h3 *ngIf="fiveMinuteTimer">Take a 5-min Break</h3>
						<h2 id="timer">9:25</h2>
						<h5>Remaining</h5>
					</li>


				</ul>
			</div>

		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal signup-modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeSecondModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div style="padding: 11px 50px 20px;" class="popup-main-div signup">
					<!-- <h1 class="popup-logo">Cheery</h1> -->
					<h3>We're glad to have you here.</h3>
					<h2>Sign-up for free!</h2>
					<!-- <ul class="signup-list">
                        <li><img src="assets/images/check-circle.png"> Mindful breathing Sessions</li>
                        <li><img src="assets/images/check-circle.png"> Deep focus sessions</li>
                        <li><img src="assets/images/check-circle.png"> Daily motivations</li>
                      </ul> -->
					<form class="signup-form">
						<div class="form-group">
							<input type="text" name="email" [(ngModel)]="email" class="input-control"
								placeholder="Your Email">
							<span style="color: red;"
								*ngIf="responseError.email_taken">{{responseError.email_taken_message}}</span>
						</div>
						<div class="form-group">
							<input type="password" name="password" [(ngModel)]="password" class="input-control"
								placeholder="Your Password">
						</div>
						<!-- <a href="#" class="forgot-pass">Forgot Password?</a> -->
						<button type="button" (click)="CheckEmail()" class="btn session"><i *ngIf="ShowSubmitLoader"
								id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign Up</button>
						<button style="display: none;" data-dismiss="modal" id="openSecondModel" type="button"
							class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup-session2"
							style="display: none;"></button>
						<div class="or-div">or Sign Up with</div>
						<div class="social-signup">
							<a (click)="socialSignIn('facebook')"><img src="assets/images/facebook.png"></a>
							<a (click)="socialSignIn('google')"><img src="assets/images/google.png"></a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<!-- <h1 class="popup-logo">Cheery</h1> -->
					<h2>We’re so glad you’re here.</h2>
					<p>What should we call you?</p>
					<!-- <form class="signup-form"> -->
					<div class="form-group">
						<input type="text" placeholder="Type here..." name="name" [(ngModel)]="name"
							class="form-control">
					</div>
					<button [disabled]="name === ''" type="button" class="btn session" data-toggle="modal"
						data-dismiss="modal" data-target="#signup3">Next</button>
					<!-- </form> -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup3" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="finalCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<!-- <h1 class="popup-logo">Cheery</h1> -->
					<h2>Hello {{name}}!</h2>
					<p>What woud you like help with?</p>
					<div class="select-ans session-div">
						<label class="container-checkbox">
							<input name="helpingWith" value="Finding Mindfulness" [(ngModel)]="helpingWith" type="radio"
								name="radio">
							<span class="checkmark">Finding Mindfulness.</span>
						</label>
						<label class="container-checkbox">
							<input name="helpingWith" value="Focusing during Work" [(ngModel)]="helpingWith"
								type="radio" name="radio">
							<span class="checkmark">Focusing during Work</span>
						</label>
						<label class="container-checkbox">
							<input name="helpingWith" [(ngModel)]="helpingWith" value="Finding Motivation" type="radio"
								name="radio">
							<span class="checkmark">Finding Motivation</span>
						</label>
						<button (click)="submitsignupform()" type="button" class="btn session" data-toggle="modal"><i
								*ngIf="ShowSubmitLoader" id="loginLOader"
								class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Submit</button>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<div class="modal signup-modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeLoginModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<!-- <h1 class="popup-logo">Cheery</h1> -->
					<h2>Welcome Back!</h2>
					<p>Log in to your account</p>
					<form class="signup-form">
						<span *ngIf="responseError.emailErrorLogin"
							style="color: red;">{{responseError.email_taken_message}}</span>
						<div class="form-group">
							<input name="emailLogin" [(ngModel)]="emailLogin" type="text" class="input-control"
								placeholder="Email Address">
						</div>
						<div class="form-group">
							<input name="passwordLogin" [(ngModel)]="passwordLogin" type="password"
								class="input-control" placeholder="Password">
						</div>
						<a href="#" class="forgot-pass">Forgot Password?</a>
						<button (click)="signin()" type="button" class="btn session"><i *ngIf="ShowSubmitLoader"
								id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign In</button>
						<span data-toggle="modal" data-dismiss="modal" data-target="#sessionproduct"
							style="display: none;"></span>
						<div class="or-div">or Sign Up with</div>
						<div class="social-signup">
							<a (click)="socialSignIn('facebook')"><img src="assets/images/facebook.png"></a>
							<a (click)="socialSignIn('google')"><img src="assets/images/google.png"></a>
						</div>
					</form>
					<div class="dont-acc">
						Don’t have an account? <a style="cursor:pointer" data-dismiss="modal" data-toggle="modal"
							data-target="#signup-new-pop">Sign up for
							Free</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal signup-modal fade" id="signup-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup">
					<h2>Sign up for a Free account.</h2>
					<ul class="signup-list">
						<li><img src="assets/images/green-tick.png"> Unlimited Focus Sessions</li>
						<li><img src="assets/images/green-tick.png"> Unlimited Focus Sounds</li>
						<li><img src="assets/images/green-tick.png"> Unlimited Mindful Minutes</li>
					</ul>
					<div class="social-signup">
						<a (click)="socialSignIn('google')" class="social-btns gmail"><img
								src="assets/images/signup-g.png">
							Continue With Google</a>
						<a (click)="socialSignIn('facebook')" class="social-btns fb"><img
								src="assets/images/signup-fb.png">
							Continue With Facebook</a>
						<a style="cursor: pointer;" data-dismiss="modal" data-toggle="modal" data-target="#signup"
							class="email-signup">or Sign-Up with email</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<!-- <div class="modal signup-modal fade" id="headline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
      <div class="modal-body">

        <div class="popup-main-div signup about-div contact">
          <h2>Your headline and tagline. </h2>
          <div class="select-ans">
            <textarea placeholder="Finishing up the UX "
              class="textarea-input" placeholder="UX Researcher for National University of singapore"></textarea>
            <button data-toggle="modal" data-dismiss="modal" data-target="#signup2" type="button"
              class="btn session next-btn">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup-session2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<p>Would you describe yourself as a...</p>
					<div class="select-ans session-div">
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Employee" type="radio"
								name="describe">
							<span class="checkmark">Employee</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Student" type="radio"
								name="describe">
							<span class="checkmark">Student</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Self Employed"
								type="radio" name="describe">
							<span class="checkmark">Self Employed</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Entrepreneur"
								type="radio" name="describe">
							<span class="checkmark">Entrepreneur</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Other" type="radio"
								name="describe">
							<span class="checkmark">Other</span>
						</label>
						<div class="next-btn-div">
							<button id="openThirdModel" type="button" class="btn session next-btn" data-toggle="modal"
								data-target="#take-seat" data-toggle="modal" data-dismiss="modal">Next</button>
							<!-- <button style="display: none;" data-dismiss="modal" id="openSecondModel" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup-session2" style="display: none;"></button> -->
						</div>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>






<!-- sign up new popup start -->
<div class="modal signup-modal fade" id="signup-new-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<h3>We're glad to have you here.</h3>
					<h2>Sign-up for free!</h2>
					<div class="social-signup">
						<a (click)="socialSignIn('google')" class="social-btns gmail"><img
								src="assets/images/signup-g.png">
							Sign In with Google</a>
						<a (click)="socialSignIn('facebook')" class="social-btns fb"><img
								src="assets/images/signup-fb.png">
								Sign In with Facebook</a>
						<p class="or-p">Or Sign In with</p>
						<a style="cursor: pointer;" data-dismiss="modal" data-toggle="modal" data-target="#signup"
							class="email-signup"><img
							src="assets/images/email.png"> Your email</a>
						<!-- <p>Already have an account? <a style="cursor: pointer;" data-dismiss="modal"
								data-target="#login-new-pop" data-toggle="modal">Sign in</a> </p> -->
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- sign up new popup close -->


<!-- login new popup start -->
<div class="modal signup-modal fade" id="login-new-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<h2>Welcome Back!</h2>
					<h3>Log back into your account</h3>
					<div class="social-signup">
						<a (click)="socialSignIn('google')" class="social-btns gmail"><img
								src="assets/images/signup-g.png">
							Continue With Google</a>
						<a (click)="socialSignIn('facebook')" class="social-btns fb"><img
								src="assets/images/signup-fb.png">
							Continue With Facebook</a>
						<a style="cursor: pointer;" data-dismiss="modal" data-toggle="modal" data-target="#signin"
							class="email-signup">or Sign-In with email</a>
						<p>Don’t have an account?<br>
							<a data-dismiss="modal" data-toggle="modal" data-target="#signup-new-pop">Sign up for
								Free</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- login new popup close -->

<!-- sign up 17 popup start -->
<div class="modal signup-modal fade" id="take-seat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<form>
						<h2>Few More Details...</h2>
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">What do we call you?</label> -->
							<input type="text" name="name" [(ngModel)]="name" class="form-control"
								id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
						</div>
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">A Short Description of You</label> -->
							<textarea [(ngModel)]="headline" name="headline" class="form-control textarea"
								id="exampleFormControlTextarea1" rows="3"  placeholder="Short description about you"></textarea>
						</div>
						<!-- <button (click)="submitsignupform()" class="btn" [disabled]="name === ''" type="button"
							data-toggle="modal" data-dismiss="modal"><i *ngIf="ShowSubmitLoader" id="loginLOader"
								class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Next</button> -->
						<button [disabled]="name === ''" id="openThirdModel" type="button" class="btn session next-btn" data-toggle="modal"
							data-target="#video-mode" data-toggle="modal" data-dismiss="modal">Next</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 17 popup close -->

<!-- sign up 18 popup start -->
<div class="modal signup-modal fade" id="video-mode" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeVideoMode" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
						<h2>Choose your mode</h2>
						<button (click)="switchVideoMode(1,'yes')" class="btn online-video" type="button">
							<img src="assets/images/video_camera.png" alt="logo">&nbsp;&nbsp;Video On</button>

						<button (click)="switchVideoMode(0,'yes')" class="btn offline-video" type="button">
							<img src="assets/images/fi_video-off.png" alt="logo">&nbsp;&nbsp;Video Off</button>
						<div>
							<p class="video-note">
								Note : In Video-off mode, your video will
								not be shown to anyone. Our Al Focus
								Tracker will still run as long as your
								webcam is turned on.
							</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 18 popup close -->


<!-- sign up 19 popup start -->
<button style="display: none;" id="openGetThingsModel" type="button" class="btn session next-btn" data-toggle="modal"
							data-target="#get-things-done" data-toggle="modal" data-dismiss="modal">Next</button>
<div class="modal signup-modal fade" id="get-things-done" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeGetThingsModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
						<h2>
							We're all here<br>
							working hard<br>
							with you!
						</h2>
						<button (click)="submitsignupform()" class="btn" type="button">
							Let's get things done!</button>

						<div>
							<p class="video-note">
								Tip: If you need to use your browser
								while working, go ahead! Just leave us on in the background.
							</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 19 popup close -->

<!-- sign up 20 popup close -->

<button style="display: none;" id="openLearnMoreModel" type="button" class="btn session next-btn" data-toggle="modal"
							data-target="#learn-more" data-toggle="modal" data-dismiss="modal">Next</button>
<div class="modal signup-modal fade" id="learn-more" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeLearnMoreModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
						
							<h3>All Focus Tracking</h3>
							<p>
							Our Al Focus Tracker uses your web camera to
							estimate your focus score. It tracks when you
							are focused and when you are distracted (eg.
							on your phone) or away from your computer.
							<button (click)="winAwards()">Win Awards</button> for staying focused!</p>
							<h3>Video-Off Mode</h3>
							<p>Your video will not be seen by anyone
							except for our AI Focus Tracker.</p>
						<h3>Video-On Mode</h3>
							<p>Your live video will be streamed to users
							currently on the platform. Note that you
							might not be seeing users that you are
							streaming to
						</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 20 popup close -->

<!-- sign up 21 popup close -->
<button style="display: none;" id="openWeeklyAwardsModel" type="button" class="btn session next-btn" data-toggle="modal"
							data-target="#weekly-award" data-toggle="modal" data-dismiss="modal">Next</button>
<div class="modal signup-modal fade" id="weekly-award" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<h3>Weekly Awards</h3>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<div class="awards-inner-div">
						<span><img src="assets/images/Award21.png"></span>
						<ul class="awards-list">
							<li>28 hours online per week and</li>
							<li>90% Focus Score</li>
						</ul>
					</div>
					<div class="awards-inner-div">
						<span><img src="assets/images/Award3.png"></span>
						<ul class="awards-list">
							<li>20 hours online per week and</li>
							<li>80% Focus Score </li>
						</ul>
					</div>
					<div class="awards-inner-div">
						<span><img src="assets/images/Award11.png"></span>
						<ul class="awards-list">
							<li>12 hours online per week and</li>
							<li>70% Focus Score </li>
						</ul>
					</div>

					<hr class="separator">
					<h4>What are hours online?</h4>	
					<p>
						This is simply the time that you spend with
						the Focus Together site open. It is unrelated
						to the Focus Score.</p>
					<h4>What is the Focus Score?</h4>
					<p>
						Our Al Focus Tracker uses your web camera
						to estimate a personalized focus score. It
						tracks when you are focused and getting
						things done. It knows when you are being
						distracted by your phone or away from your
						computer, Focus Scores are calibrated
						weekly.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 21 popup close -->

<!-- sign up 22 popup close -->
<button style="display: none;" id="openCommHelpModel" type="button" class="btn session next-btn" data-toggle="modal"
							data-target="#community-online" data-toggle="modal" data-dismiss="modal">Next</button>
<div class="modal signup-modal fade" id="community-online" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<button id="closeCommHelpModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<!-- <h6>Community Online</h6> -->
					<h3>Community Online</h3>
					<p>
						The world's largest community of
						focus. We study, write, design.
						freelance. We get in the zone to get
						things done.
					</p>
					<h6>Who am I seeing?</h6>
					<p>
						You are seeing 3 users from across the
						platform. Seeing more than 3 users has
						been proven to be distracting.
						Users will be matched to you by location
						and activity.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 22 popup close -->

<!-- sign up 23 popup close -->
<button style="display: none;" id="openCommChalModel" type="button" class="btn session next-btn" data-toggle="modal"
							data-target="#community-chalange" data-toggle="modal" data-dismiss="modal">Next</button>
<div class="modal signup-modal fade" id="community-chalange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<button id="closeCommHelpModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="community-head">
					<h3>100,000</h3>
					<h4>Focus Hours Challange</h4>
					<h6>Progress : 35,240 Hours completed</h6>
				</div>
				<div class="popup-main-div signup">
					<ul class="">
						<li>Join the Focus Together Community to complete 100,000 total Focus hours in May.</li>
						<li>$1000 will be donated to the Red Cross (https://www.icrc.org/en/donate) if challenge is completed</li>
						<li>Top 10% of contributors will receive a limited “Red Cross Challenge Contributor" badge.</li>
					</ul>
					<div class="leaderboard-div">
						<h4>Current Leaderboard</h4>
						<ul class="leaderboard-list">
							<li>
								<div class="count-main"><span class="list-count">1</span></div>
								<div class="count-main center"><p>Michelle Ong</p></div>
								<div class="count-main"><p>45.2 h</p></div>
							</li>
							<li>
								<div class="count-main"><span class="list-count">2</span></div>
								<div class="count-main center"><p>Joash Ruminathan </p></div>
								<div class="count-main"><p>36.2 h</p></div>
							</li>
							<li>
								<div class="count-main"><span class="list-count">3</span></div>
								<div class="count-main center"><p>Maria Gomez </p></div>
								<div class="count-main"><p>35.4 h</p></div>
							</li>
							<li>
								<div class="count-main"><span class="list-count">4</span></div>
								<div class="count-main center"><p>Michael Hudson</p></div>
								<div class="count-main"><p>34.8 h</p></div>
							</li>
							<li>
								<div class="count-main"><span class="list-count">5</span></div>
								<div class="count-main center"><p>Arlene Tang</p></div>
								<div class="count-main"><p>33.7 h</p></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 23 popup close -->


<!-- sign up 17 popup start -->
<div class="modal signup-modal fade" id="our-story" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<h3>Our Story </h3>
					<p>Coffee House makes working from home a little less lonely. <br><br>

						Here, we do 25-min focus sessions (or Pomodoros) with 5-min breaks. Sessions start every half
						hour.<br><br>

						Members of our community have found a more than 15% improvement in productivity when they are
						working.<br><br>

						Join our community only if you want to focus together and get stuff done!


					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- sign up 17 popup close -->