.webcam-wrapper video{
    width:100% !important
}
.fa-question-circle-o::before {
    color: white;
}
.live-user-count{
    color: white;
    font-size: 12px;
    margin: 11px;
}
.comm_image {
    width: 50px;
    padding: 4px;
}
.hide-me{
    display: none;
}
.container-checkbox input:checked ~ .checkmark {
    background-color: #fae1a3;
}
button.close {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    display: block;
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 22px;
    color: #fff;
    line-height: 31px;
    top: 20px;
    opacity: 1;
    z-index: 99;
    left: auto;
}
form.signup-form .form-group input.input-control {
    background: #313131 !important;
    border-radius: 6px;
    color: #fff;
}
.signup-modal .modal-dialog {
    max-width: 460px;
    width: 460px;
}
.signup-modal .modal-dialog .modal-content {
    background: #000;
}
.signup-modal .modal-dialog .popup-main-div.signup {
    padding: 0px 50px 20px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
}
.top-right-navbar {
    float: right;
}
.coffee-main .links li:after {
    border-right: 0px solid #fff;
    content: "";
    width: 1px;
    height: 78%;
    position: absolute;
    right: 0;
    top: 10%;
    background: #fff;
}
a.social-btns.gmail {
    text-align: center;
}
a.social-btns.gmail img {
    width: auto;
    margin-right: 10px;
}
a.social-btns.fb {
    text-align: center;
}
a.social-btns.fb img {
    width: auto;
    margin-right: 10px;
}
.coffee-main .links{display:inline-block;border-left:0px solid #7f7f7f;padding-left: 40px;margin-left: 40px;}
.coffee-main .links li {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    position: relative;
    padding-right: 30px;
    font-weight: 700;
    line-height: 24px;
}
.coffee-bottom li {
    background: #0D0D0D;
    border-radius: 16px;
    padding: 0;
    /* width: 290px; */
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    min-height: 300px;
    position: relative;
}
.coffee-bottom li ul li {
    min-height: auto;
}
.coffee-bottom li.take-seat h4 + p {
    min-height: auto !important;
    margin: 6px 0 0;
    line-height: 25px;
}
.coffee-bottom li.web-cam .name {
    margin: 0px 0 3px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: left;
    width: 100%;
}
.coffee-bottom .li-img {
    width: 100%;
    height: 160px;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
}
.coffee-bottom li.community-online span.checkmark.live-user-count {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coffee-bottom li .name .name-li {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}
.time.leave-add a.leave {
    font-size: 16px;
    color: #FAE1A3;
    background: transparent;
    border: 1px solid #FAE1A3;
    border-radius: 6px;
    padding: 3px 8px;
    float: right;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 0;
}
.coffee-bottom li.web-cam .desc {
    float: left;
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    padding-left: 15px;
}
.person-profile-img {
    float: left;
    width: 100%;
    margin-top: 79px;
    text-align: center;
    margin-bottom: 45px;
}
.coffee-bottom li.take-seat {
    text-align: center;
    padding: 30px 40px;
}
.coffee-bottom li h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin: 25px 0 0px;
    line-height: 30px;
    float: left;
    width: 100%;
}
.coffee-bottom li p.desc {
    padding: 15px 30px 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
}
.name li:first-child {
    margin-right: 20px;
    padding: 0;
}
.coffee-bottom li p {
    color: #B2B2B2;
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
    float: left;
    width: 100%;
}
.coffee-bottom li.take-seat p.p_link {
    color: #638DFF;
    font-size: 14px;
    line-height: 30px;
    float: right;
    display: initial;
    text-align: right;
    margin-top: 0;
    margin-bottom: 12px;
    cursor: pointer;
}
#signup-new-pop p {
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 150.6%;
color: #5B5A58;
float: left;
width: 100%;
margin: 32px 0 0;
text-align: center;
}
#signup-new-pop p.or-p {
color: #B0AEAE;
position: relative;
float: left;
width: 100%;
}
#signup-new-pop p.or-p:after {
content: "";
width: 62px;
left: 0;
height: 1px;
background: #353434;
content: "";
position: absolute;
top: 10px;
}
#signup-new-pop .email-signup {
background: #FAE1A3;
height: 38px;
width: 100%;
text-decoration: none !important;
line-height: 38px;
border-radius: 6px;
margin-left: 0;
margin-right: 0;
}
#signup-new-pop .email-signup img {
width: auto;
margin: -2px 4px 0px 0;
}
#signup-new-pop p.or-p:before {
content: "";
width: 62px;
right: 0;
height: 1px;
background: #353434;
content: "";
position: absolute;
top: 10px;
}
#signup-new-pop .popup-main-div.signup {
padding: 0px 40px 10px;
}
#take-seat .modal-dialog .popup-main-div.signup {
    padding: 0px 30px 20px;
}
#take-seat .form-group {
    margin-bottom: 25px;
    float: left;
    width: 100%;
}
#take-seat .modal-dialog .form-group .form-control {
    border: 2px solid #313131;
    border-radius: 6px;
    height: 50px;
    background: #313131;
    color: #fff;
}
#take-seat button.btn {
    background: #FAE1A3;
    color: #434141;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    height: 48px;
    padding: 0;
    border-radius: 6px;
    opacity: 1;
}
#our-story .popup-main-div.signup h3{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 14px;
    text-align: left;
}
#our-story .popup-main-div.signup p{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    line-height: 20px;
    margin: 0;
}

/* 10-05-2021 */
.coffee-bottom li.community-online {
    padding: 16px 15px 15px;
}
.coffee-bottom li.community-online .community-heading {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.coffee-bottom li.community-online p {
    padding: 0;
    float: left;
    width: 80%;
    font-size: 20px;
    line-height: 21px;
    color: #fff;
    margin: 0;
    text-align: left;
    display: initial;
}
span.checkmark {
    padding: 8px 8px;
    display: inline-block;
}
.community-heading {
    padding: 0 10px;
}
.community-heading i.fa.fa-question-circle-o {
    float: right;
}
.coffee-bottom li.community-online .comm_image {
    width: 56px;
    padding: 0;
}

.coffee-bottom li.take-seat p.free {
    color: #fff;
    min-height: auto;
    margin-top: 10px;
}
#signup-new-pop .popup-main-div.signup h3 {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    float: left;
    width: 100%;
}
#signup-new-pop .popup-main-div.signup h2 {
    text-align: left;
    line-height: 35px;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.popup-main-div.signup h3 {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    float: left;
    width: 100%;
}
.popup-main-div.signup h2 {
    text-align: left;
    line-height: 35px;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
form.signup-form button.btn.session {
    margin-top: 20px;
    border-radius: 6px;
    color: #302E2E;
}
.community-head {
    float: left;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,25221a+100 */
background: #000000; /* Old browsers */
background: -moz-linear-gradient(top,  #000000 0%, #25221a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #000000 0%,#25221a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #000000 0%,#25221a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#25221a',GradientType=0 ); /* IE6-9 */
border-bottom:1px solid #4D4D4D;
padding-top: 50px;
}
div#community-chalange .modal-body {
    padding: 0;
}
.community-head h3 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 7px;
}
.community-head h4 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 6px;
}
.community-head h6 {
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 0 13px;
}
div#community-chalange .popup-main-div.signup {
    margin-top: 20px;
    padding: 0px 20px 20px !important;
}
div#community-chalange .popup-main-div.signup ul {
    float: left;
    width: 100%;
    color: #fff;
    padding: 0 22px 10px;
}
.modal-content {
    border-radius: 12px;
    overflow: hidden;
}
div#community-chalange .popup-main-div.signup ul li {
    font-size: 11px;
    text-align: left;
    line-height: 22px;
    list-style: disc;
    margin-bottom: 8px;
}
.leaderboard-div {
    float: left;
    width: 100%;
    border-top: 1px solid #4D4D4D;
}
.leaderboard-div h4 {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin:12px 0 10px;
    
}
div#community-chalange .leaderboard-div ul.leaderboard-list {
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li {
    list-style: none;
    border: 1px solid #3A3939;
    border-radius: 6px;
    padding: 9px;
    float: left;
    width: 100%;
}
.count-main {
        display: inline-block;
        width: 22%;
        border-right: 1px solid #3A3939;
        float: left;
        text-align: center;
        padding: 0 8px;
    }
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main span.list-count {
    width: 30px;
    height: 30px;
    background: #5B5A58;
    display: block;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    padding-top: 5px;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main.center {
    width:56%;
    padding: 6px 10px 0;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main p {
    margin-bottom: 0;
    font-size: 14px;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main:last-child {
    border-right: 0;
    padding-top: 6px;
}
.edit-my-focus {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 90% !important;
    margin-left: 10px;
}
.edit-my-focus:active, .edit-my-focus:focus{
    background: transparent;
}
/* WebKit, Edge */
::-webkit-input-placeholder {
    color: #8C8C8C;
  }
  /* Firefox 4-18 */
  :-moz-placeholder {
    color: #8C8C8C;
    opacity: 1;
  }
  /* Firefox 19+ */
  ::-moz-placeholder {
    color: #8C8C8C;
    opacity: 1;
  }
  /* IE 10-11 */
  :-ms-input-placeholder {
    color: #8C8C8C;
  }
  /* Edge */
  ::-ms-input-placeholder {
    color: #8C8C8C;
  }
  /* MODERN BROWSER */
  ::placeholder {
    color: #8C8C8C;
  }
  .left-box-div.breath.focus-radio-popup {
    float: right;
    width: 349px;
    height: auto;
    background: #050505;
    position: relative;
    padding: 15px 15px;
    z-index: 99999;
    margin-right: 60px;
}
.left-box-div.breath.focus-radio-popup .left-div-left-content h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    float: left;
    width: 100%;
    margin-bottom: 2px;
    text-align: left;
}
.left-box-div.breath.focus-radio-popup .left-div-left-content .sound-div h2 {
    float: left;
    width: auto;
    font-weight: 400;
    font-size: 15px;
    margin-top: 9px;
}



input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    margin-top: 9px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 13px;
    border-radius: 50%;
    background: #fff;
    margin-top: -7px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
span.sound-img {
    margin-right: 8px;
    float: left;
}
.tags-breath li input {
    display: inline-block;
    position: relative;
    top: -2px;
}


input[type=range]::-moz-range-track {
    height: 3px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 13px;
    border-radius: 50%;
    background: #fff;
}
.tags-breath li input[type=range] {
    background: transparent;
    top:8px;
}
/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
.sound-div {
    margin-top: 12px;
}
span.cross-popup {
    width: 36px;
    height: 36px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    display: block;
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 22px;
    color: #ff0000;
    line-height: 37px;
    top: 14px;
    opacity: 1;
    z-index: 99;
    text-align: center;
    cursor: pointer;
}
#take-seat .modal-dialog .popup-main-div.signup h2 {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#video-mode h2 {
    float: left;
    width: 100%;
    margin-top: -8px;
    font-size: 16px;
    margin-bottom: 15px;
}
#video-mode .popup-main-div.signup .btn {
    float: left;
    width: 100%;
    text-align: left;
    background: #FAE1A3;
    border-radius: 6px;
    height: 38px;
    color: #302E2E;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 18px;
}
#video-mode .popup-main-div.signup p {
    color: #fff;
}
#video-mode .popup-main-div.signup .btn.offline-video {
    background: #FAE1A3;
    color: #302E2E;
    line-height: 22px;
}
#get-things-done h2 {
    font-size: 20px;
    line-height: 25px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#get-things-done .btn {
    background: #FAE1A3;
    float: left;
    width: 100%;
    height: 38px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
#get-things-done .video-note {
    color: #fff;
}
.video-on-div {
    position: absolute;
    top: -52px;
    float: left;
    width: 100%;
    background: #0D0D0D;
    left: 0;
    color: #FFF;
    font-size: 15px;
    padding: 10px 8px;
    border-radius: 6px;
}
#weekly-award h3 {
    font-size: 20px;
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 33px;
    text-align: center;
    font-weight: 700;
}
#weekly-award .popup-main-div.signup {
    padding: 0px 30px 20px;
}
#weekly-award .popup-main-div.signup {
    padding: 0px 0px 0px;
    margin-top: 0px;
    overflow-x: hidden;
}
.awards-inner-div{
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 14px;
    padding: 0 30px;
}
.awards-inner-div span {
    float: left;
    width: 24%;
    padding-top: 5px;
}
#weekly-award .separator {
    background: #4D4D4D;
    border: 1px solid #4D4D4D;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
}
#weekly-award h4 {
    color: #fff;
    font-size: 14px;
    float: left;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: 700;
    padding: 0 14px;
}
#weekly-award .popup-main-div.signup p {
    color: #fff;
    font-size: 12px;
    float: left;
    width: 100%;
    padding: 0 14px;
    line-height: 22px;
    font-weight: 200;
}
.awards-list {
    float: right;
    width: 72%;
}
.awards-list li {
    font-size: 13px;
    color: #fff;
    line-height: 22px;
    list-style: disc;
}
.coffee-bottom li .time {
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 0 0px;
}
.coffee-bottom li.take-seat.only-btn #seatJoiner {
    margin-top: 100px;
}
.navbar-light .navbar-brand.logo-second img {
    max-width: initial !important;
}
div#community-online h3 {
    float: left;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 700;
}
.popup-main-div.signup p {
    color: #ffffff;
}
div#community-online p {
    font-size: 14px;
    font-weight: 300;
}
div#community-online h6 {
    float: left;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 7px;
    text-align: left;
    margin-top: 10px;
    font-weight: 700;
}
#learn-more h3 {
    font-size: 16px;
    color: #fff;
    text-align: left;
    font-weight: 700;
    margin-bottom: 8px;
}
#learn-more p {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
}
#learn-more p button {
    background: transparent;
    border: 0;
    padding: 0 0 0px;
    color: #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.coffee-bottom li .name {
    text-align: center;
    margin: 8px 0 12px;
}


.tags-breath li input[type="range"] {
    background: transparent;
    top: 4px;
    width: 150px;
    float: left;
}
.coffee-bottom .li-img video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
.purple-border {
    border: 2px solid #1a4fdd;
}
.coffee-bottom li .webcam-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coffee-bottom li .webcam-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coffee-bottom li .webcam-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.coffee-bottom li.community-online span.checkmark {
    PADDING: 0;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    float: left;
    margin: 8px 10px;
}
div#community-online .modal-dialog {
    max-width: 340px;
    width: 340px;
}
div#community-online .modal-dialog .popup-main-div.signup {
    padding: 0px 16px 0px;
    margin-top: 16px;
}
.signup-modal .modal-dialog {
    max-width: 400px;
    width: 400px;
}
div#signup .popup-main-div.signup {
    padding: 11px 25px 20px !important;
}
div#weekly-award .modal-dialog {
    max-width: 340px;
    width: 340px;
}
div#learn-more .modal-dialog {
    max-width: 340px;
    width: 340px;
}
div#learn-more .modal-dialog .popup-main-div.signup {

        padding: 0px 14px 0px;
        margin-top: 22px;
    }
    div#community-chalange .modal-dialog {
        max-width: 340px;
        width: 340px;
    }
    div#community-chalange .leaderboard-div ul.leaderboard-list li {
        list-style: none;
    }
    div#community-chalange ul.leaderboard-list li {
        list-style: none !important;
    }
@media only screen and  (max-width:1919px){
    .coffee-bottom li h4 {
        font-size: 16px;
    }
    .coffee-bottom li p.desc {
        padding: 15px 10px 0;
    }
    .coffee-bottom li.community-online .comm_image {
        width: 42px;
        padding: 0;
    }
    .coffee-bottom li.community-online p {
        font-size: 16px;
    }
    .coffee-bottom li.community-online span.checkmark.live-user-count {
        font-size: 14px;
        margin: 11px 9px 9px;
    }
    .coffee-bottom li.take-seat {
        text-align: center;
        padding: 40px 20px;
    }
    
    .video-on-div{
        font-size: 13px;
    }
    .coffee-bottom li.community-online span.checkmark {
    PADDING: 0;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    overflow: hidden;
    float: left;
    margin: 8px 8px;
}
.coffee-bottom li.take-seat {
    text-align: center;
    padding: 31px 20px;
}
.coffee-bottom li.community-online span.checkmark.live-user-count {
    font-size: 14px;
    margin: 5px 9px 9px;
    padding: 10px 0px;
    text-align: center;
}
.coffee-bottom li .name {
    text-align: center;
    margin: 8px 0 5px;
}
.community-head {
    padding-top: 26px;
}
.community-head h4 {
    margin-bottom: 4px;
}
.community-head h6 {
    line-height: 17px;
    margin: 0 0 9px;
}
div#community-chalange .popup-main-div.signup ul li {
    line-height: 18px;
    list-style: disc;
    margin-bottom: 6px;
}
.leaderboard-div h4 {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin: 13px 0 6px;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li {
    padding: 6px;
}
.popup-main-div.signup p {
    font-size: 13px;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main span.list-count{
    width: 28px;
    height: 28px;
    background: #5B5A58;
    display: block;
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    padding-top: 6px;
}
button.close {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    display: block;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 18px;
    color: #fff;
    line-height: 28px;
    top: 6px;
    opacity: 1;
    z-index: 99;
    left: auto;
}
.community-head h6 {
    line-height: 17px;
    margin: 4px 0 9px;
}
.community-head h3 {
    font-size: 18px;
    line-height: 19px;
}
.community-head h4 {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0px;
}

div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main span.list-count {
    width: 26px;
    height: 26px;
    font-size: 13px;
    padding-top: 6px;
    line-height: 14px;
}
.coffee-bottom {
    position: absolute;
    bottom: 13px;
}
.coffee-bottom li ul li {
    min-height: auto;
    width: auto;
    margin-bottom: 0;
}
.coffee-bottom li.web-cam .li-img {
    height: 130px;
}
.coffee-bottom .li-img {
    width: 100%;
    height: 118px;
}
.person-profile-img {
    float: left;
    width: 100%;
    margin-top: 56px;
    text-align: center;
    margin-bottom: 38px;
}
.coffee-bottom li {
    min-height: 232px;
    position: relative;
}
.coffee-bottom li p.desc {
    padding: 2px 10px 0;
    line-height: 17px;
    min-height: 25px;
}
.coffee-bottom li.community-online span.checkmark {
    margin: 5px 9px;
}
.coffee-bottom   li   h4 {
    font-size: 15px;
    line-height: 22px;
    margin-top: 7px;
}
.coffee-bottom li.take-seat p.p_link {
    min-height: auto;
}
.coffee-bottom li.take-seat {
    text-align: center;
    padding: 21px 20px;
}
.coffee-main .links li {
    font-size: 15px;
    line-height: 21px;
}
.time.leave-add a.leave {
    font-size: 16px;
    color: #FAE1A3;
    background: transparent;
    border: 1px solid #FAE1A3;
    border-radius: 6px;
    padding: 2px 8px;
    float: right;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 0;
}
.coffee-bottom li.community-online p {
    font-size: 16px;
    min-height: auto;
    margin-bottom: 5px;
}
.coffee-bottom li ul li {
    font-size: 12px;
}
.coffee-bottom li .name .name-li {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
}

div#community-chalange .popup-main-div.signup {
    margin-top: 11px;
}
.coffee-bottom li ul li img {
    width: 16px;
}
.navbar-light .navbar-brand.logo-second img {
    max-width: 71px !important;
}
}
@media only screen and  (max-width:1439px){
    .coffee-bottom li.community-online p {
        font-size: 15px;
    }
    .community-head h4 {
        font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 8px;
}
    .community-head h3 {
        font-size: 16px;
        color: #fff;
        text-align: center;
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 7px;
    }
    .community-head h6 {
        line-height: 15px;
        margin: 1px 0 9px;
    }
    .coffee-bottom li p.desc {
        padding: 1px 5px 0;
        font-size: 12px;
        margin-top: 7px;
    }
    .coffee-bottom li {
        min-height: 237px;
    }
    #weekly-award h4 {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
        padding: 0 14px;
    }
    #weekly-award .popup-main-div.signup p {
        font-size: 12px;
        line-height: 19px;
        font-weight: 200;
    }
    #weekly-award .separator {
        margin: 10px 0 18px;
    }
    .awards-inner-div {
        margin-bottom: 9px;
    }
}
@media only screen and (max-width:1365px){
    .coffee-bottom li.community-online {
        padding: 14px 12px 13px;
        }
    .coffee-bottom li.community-online p {
        font-size: 14px;
        min-height: auto;
        margin-bottom: 10px;
    }
    .video-on-div {
        font-size: 14px;
        padding: 15px 13px;
    }
    .time.leave-add a.leave {
        padding: 3px 6px;
        font-size: 12px;
    }
    .coffee-main .links li {
        font-size: 14px;
        line-height: 19px;
    }
    .coffee-bottom li h4 {
        font-size: 14px;
        margin: 0px 0 0px;
        line-height: 20px;
    }
    .video-on-div {
        font-size: 14px;
        padding: 15px 13px;
        top: -57px;
    }
    .coffee-bottom li {
    width: 200px;
}
.coffee-bottom li.community-online .checkmark {
    padding: 4px 6px;
}
.video-on-div {
    font-size: 13px;
    padding: 13px 7px;
    top: -54px;
}
.coffee-bottom .li-img {
    width: 100%;
    height: 125px;
}

.coffee-bottom li.community-online .comm_image {
    width: 46px;
    padding: 0;
}
.coffee-bottom li ul li {
    min-height: auto;
    width: auto;
}
.left-box-div.breath.focus-radio-popup {
    width: 316px;
}
.left-box-div.breath.focus-radio-popup .left-div-left-content h2 {
    font-size: 18px;
}
.left-box-div.breath.focus-radio-popup .left-div-left-content .sound-div h2 {
    font-size: 13px;
}
.left-box-div.breath.focus-radio-popup span.checkmark {
    padding: 5px 6px;
    margin-top: 3px;
}
span.cross-popup {
    width: 32px;
    height: 32px;
    right: 15px;
    font-size: 22px;
    line-height: 32px;
    top: 9px;
    z-index: 99;
}
.left-box-div.breath.focus-radio-popup {
    width: 295px;
    padding: 15px 15px;
    margin-top: 0px;
}
.video-on-div{
    font-size: 11px;
    padding: 12px 5px;
    top: -54px;
}
.left-box-div.breath.focus-radio-popup .sound-div ul.tags-breath label.container-checkbox input {
    position: absolute;
}
.coffee-bottom li.community-online span.checkmark.live-user-count {
    font-size: 14px;
    margin: 5px 6px 9px;
}
.coffee-bottom li.take-seat {
    text-align: center;
    padding: 47px 12px 26px;
}
.coffee-bottom li.take-seat p.p_link {
    min-height: 25px;
}
.coffee-bottom li.community-online span.checkmark {
    margin: 5px 8px;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main p {
    margin-bottom: 0;
    font-size: 13px;
}
div#community-chalange .leaderboard-div ul.leaderboard-list li .count-main span.list-count {
    width: 21px;
    height: 21px;
    font-size: 11px;
    padding-top: 3px;
    line-height: 15px;
}
}