body {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    background: #fff;
    font-family: 'Nunito';
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}
img {
    max-width: 100%;
}
a:hover {
    text-decoration: none;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}

button {
    transition: .8s;
}

.form-control:focus {
    box-shadow: none;
}

button:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.container-fluid {
    max-width: 100%;
    padding: 0 133px;
}
/*======== HOME PAGE CSS ========*/
body, html {
    height: 100%;
}
body {
    height: 100%;
    position: relative;
    min-height: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    min-height: 100% !important;
}
body.splash-body {
    background: #fff;
    background: url(../images/top-rec.png), url(../images/btm-rec.png);
    background-size: 424px, 399px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
div#wrapper.app-splash-screen {
    background-color: #fff !important;
    background: url(../images/top-rec.png), url(../images/btm-rec.png);
    background-size: 424px, 399px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.background-di-image {
    float: left;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}
.background-di-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.backgroundVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.splash-screen {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.splash-screen {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
div#wrapper {
    left: initial;
    width: 100%;
    height: 100%;
}
a.logo {
    color: #FC9B2A;
    font-size: 100px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: 'Sacramento', cursive;
    float: left;
    width: 100%;
}
.splash-screen p {
    color: #5B5A58;
    font-size: 24px;
}
.main-bg {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.left-main-div {
    float: left;
    padding-top: 100px;
    width: 100%;
}
.left-main-div h1 {
    font-size: 34px;
    color: #fff;
    font-weight: 800;
    float: left;
    width: 100%;
    margin-bottom: 110px;
}
.left-box-div {
    background: #FFE6C9;
    float: left;
    width: 100%;
    border-radius: 13px;
    padding: 20px 20px;
    margin-top: 25px;
}
.left-box-div .left-div-left-content {
    float: left;
    width: 60%;
}
.left-box-div .left-div-left-content h2 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    float: left;
    width: 100%;
    margin-bottom: 7px;
    text-align: left;
}
.left-box-div .left-div-left-content p {
    font-size: 16px;
    float: left;
    width: 100%;
}
.left-div-right-content {
    float: right;
    width: 20%;
    text-align: center;
}
.left-div-right-content span.time {
    float: left;
    width: 100%;
    color: #9A9997;
    font-size: 12px;
}
.left-div-right-content img {
    width: 44px;
}
.tags-breath li a {
    background: #F3F1F1;
    padding: 6px 16px;
    font-size: 13px;
    color: #050505;
    text-decoration: none;
    border-radius: 17px;
    font-weight: 600;
}
.tags-breath li a.active {
    background: #fdcd94;
}
.tags-breath li {
    display: inline-block;
    float: left;
    margin-right: 4px;
}
.tags-breath li a {
    background: #F3F1F1;
    padding: 6px 15px;
    font-size: 13px;
    color: #050505;
    text-decoration: none;
    border-radius: 17px;
}
ul.tags-breath {
    float: left;
    width: 100%;
    margin-top: 8px;
}
.left-box-div.breath {
    background: #fff;
}
.left-box-div.breath .left-div-left-content {
    float: left;
    width: 100%;
}
.tags-breath li a.start-btn {
    background: #8c8a8a;
    color: #fff;
    font-weight: 600;
}
button.btn.upgrade {
    background: #FAE1A3;
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    width: auto;
    float: left;
}
button.btn.upgrade img {
    width: 22px;
    float: left;
    margin: 0 8px 0 0;
}
.top-right-div {
    float: left;
    width: 100%;
    padding-top: 150px;
}
ul.right-icons {
    float: right;
    text-align: left;
    margin-top: 1px;
}
ul.right-icons li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.volume-slider {
    position: absolute;
    left: 0;
    top: -100px;
}
ul.right-icons li img {
    width: 36px;
}
ul.tags-breath li:last-child {
    margin-right: 0;
}
.right-main-div {
    float: right;
    width: 100%;
}
ul.right-icons li:first-child img {
    width: 45px;
}
ul.right-main-div-content {
    float: left;
    width: 100%;
}
ul.right-main-div-content li {
    float: left;
    width: 33.3%;
    padding-right: 6px;
    font-size: 12px;
}
ul.right-main-div-content li h3 {
    float: left;
    font-size: 24px;
    margin-right: 5px;
    color: #FC9B2A;
}
ul.right-main-div-content li p {
    float: right;
    font-size: 12px;
    color: #5B5A58;
    width: 56%;
    padding-right: 3px;
}
span.info {
    display: inline-block;
    margin-left: 17px;
}
span.info img {
    width: 32px;
}



/* The container-checkbox */
.sound-div ul.tags-breath label.container-checkbox {
    padding: 0;
    font-size: 11px;
    color: #050505;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: block;
    position: relative;
    float: left;
    height: 24px;
}
/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: initial;
    font-size: 11px;
    padding: 5px 10px;
    height: auto;
    width: auto;
    border-radius: 51px;
    padding: 8px 17px;
    background: #f3f1f1;
    font-weight: 600;
}
.right-col-div .container-checkbox .checkmark {
    padding: 8px 12px;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #fdcd94;
}
.sound-div {
    float: left;
    width: 100%;
    color: #5B5A58;
    margin-top: 22px;
}
.left-box-div .left-div-left-content .sound-div h2 {
    color: #5B5A58;
    font-size: 16px;
    font-weight: 500;
    float: left;
    margin-right: 12px;
    width: auto;
}
.sound-div ul.tags-breath {
    float: right;
    width: 77%;
    margin-top: 3px;
}
footer#footer {
    float: left;
    width: 100%;
    position: relative;
    bottom: 0;
}
footer#footer ul.footer-link {
    float: left;
    width: 100%;
    text-align: right;
}
footer#footer ul.footer-link li {
    display: inline-block;
    margin-left: 50px;
}
footer#footer ul.footer-link li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 14px 0;
}
.main-bg {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
}
.main-inner {
    float: left;
    width: 100%;
    min-height: calc(100% - 60px);
}
.left-col-div {
    max-width: 24%;
}
.right-col-div {
    max-width: 24%;
    float: right;
}
.dropdown.profile button.btn.btn-primary.dropdown-toggle {
    padding: 0;
    background: transparent;
    border: 0;
}
.dropdown-toggle::after{display: none}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.popup-main-div {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 100px 30px 30px;
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}
.popup-main-div h1.popup-logo {
    top: 46px;
}
.modal-content {
    border-radius: 12px;
}
.signup-modal h1.popup-logo {
    top: 0;
}
.modal-dialog {
    max-width: 414px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
}
.container-inner {
    float: left;
    width: 100%;
    height: 100%;
}
.container-inner {
    float: left;
    width: 100%;
    text-align: left;
    height: 100%;
}
.inner-popup-div {
    height: 100%;
    width: 100%;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button.close {
    width: 43px;
    height: 43px;
    background: #FAE1A3;
    border-radius: 60px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 32px;
    color: #fff;
    line-height: 41px;
    top: 40px;
    opacity: 1;
    left: 32px;
    z-index: 99;
}
button.close span , button.close:hover span {
    font-weight: 200;
    line-height: 19px;
    color: #fff;
}
.popup-main-div h2 {
    font-size: 20px;
    color: #050505;
    float: left;
    width: 100%;
    font-weight: 600;
    margin-bottom: 16px;
}
.popup-main-div p {
    color: #5B5A58;
    font-size: 15px;
    float: left;
    width: 100%;
    margin-bottom: 14px;
}
.select-ans {
    float: left;
    width: 100%;
}
.select-ans label.container-checkbox {
    float: left;
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.select-ans .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 99;
}
.select-ans .container-checkbox input:checked ~ .checkmark {
    background-color: #5B5A58;
    border-color: #5B5A58;
    color: #fff
}
.select-ans label.container-checkbox span.checkmark {
    border: 1px solid #B0B0B0;
    background: #fff;
    border-radius: 11px;
    float: left;
    width: 100%;
    font-size: 16px;
    color: #434141;
    padding: 14px 10px;
    font-weight: 700;
    cursor: pointer;
}
h1.popup-logo {
    font-size: 60px;
    color: #FC9B2A;
    font-family: 'Sacramento', cursive;
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    top: -4px;
}
div#deepfocus .popup-main-div {
    padding-top: 116px;
}
textarea.textarea-input {
    border: 1px solid #B0B0B0;
    height: 144px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 0;
    margin-top: 10px;
}
span.word-count {
    color: #ccc;
    font-size: 14px;
    float: right;
    margin-top: -4px;
    margin-bottom: 19px;
}
div#deepfocus .popup-main-div {
    padding-top: 130px;
    padding-bottom: 40px;
}
button.btn.session {
    background: #FAE1A3;
    font-size: 16px;
    color: #434141;
    font-weight: 400;
    float: left;
    width: 100%;
    border-radius: 40px;
    height: 45px;
}
div#sessionproduct .popup-main-div {
    padding-top: 150px;
}
div#sessionproduct .popup-main-div h2 {
    margin-bottom: 40px;
    margin-top: 0px;
}

.popup-main-div.deepfocussession {
    text-align: left;
    float: left;
    width: 100%;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
}
.productive-div {
    float: left;
    width: 100%;
}
.productive-div p {
    color: #5B5A58;
    font-size: 18px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.popup-main-div.signup {
    float: left;
    width: 100%;
    margin-top: 50px;
}
.popup-main-div.signup h2 {
    font-size: 25px;
    color: #5B5A58;
    text-align: left;
    margin-bottom: 12px;
    font-weight: 700;
}
ul.signup-list li {
    color: #9A9997;
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}
form.signup-form .form-group {
    float: left;
    width: 100%;
    margin: 15px 0 0;
}
form.signup-form .form-group input.input-control {
    float: left;
    width: 100%;
    border: 0;
    background: #FAF8F8;
    height: 52px;
    border-radius: 40px;
    padding: 2px 22px;
    font-size: 14px;
}
form.signup-form .form-group input.input-control:focus{outline: none;}
ul.signup-list li img {
    width: 17px;
    float: left;
    margin: 2px 8px 0 0;
}
ul.signup-list {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 0 42px;
}
a.forgot-pass {
    color: #FC9B2A; 
    font-size: 15px;
    font-weight: 500;
    float: left;
    width: 100%;
    margin: 12px 0 30px;
    text-align: right;
}
.or-div {
    float: left;
    width: 100%;
    position: relative;
    margin: 23px 0;
    font-size: 15px;
    color: #B0B0B0;
    font-weight: 600;
}
.or-div:before {
    width: 75px;
    content: "";
    background: #B0B0B0;
    height: 1px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: 0px;
}
.or-div:after {
    width: 75px;
    content: "";
    background: #B0B0B0;
    height: 1px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: 0px;
}
.social-signup {
    margin: auto;
    width: 300px;
    text-align: center;
    margin-top: 0px;
}
.social-signup a {
    width: 40px;
    margin: 0 10px;
}
.social-signup a img {
    width: 40px;
}
.signup-modal .modal-dialog {
    max-width: 550px;
    width: 550px;
}
.signup-modal .modal-dialog .popup-main-div.signup {
    padding: 100px 80px 20px;
}
div#signin .popup-main-div.signup {
    padding-bottom: 0;
}
.popup-main-div.signup.about-div h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}
.popup-main-div.signup.about-div p {
    color: #434141;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}
.signup-modal .modal-dialog .popup-main-div.signup.about-div.contact {
    padding: 100px 36px 20px;
}
.signup-modal .modal-dialog .popup-main-div.signup.about-div.contact textarea.textarea-input {
    border: 1px solid #B0B0B0;
    height: 144px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    color: #434141;
    padding: 10px 10px;
    font-weight: 500;
}
.popup-main-div.signup.about-div.contact h2 {
    font-size: 25px;
    text-align: center;
}
.signup-modal .modal-dialog .popup-main-div.signup.about-div.contact p {
    color: #434141;
    font-size: 18px;
    text-align: center;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
}
.popup-main-div.signup p {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #9A9997;
    font-weight: 600;
}
.dont-acc {
    font-size: 15px;
    color: #B0B0B0;
    font-weight: 600;
    float: left;
    width: 100%;
    margin-top: 50px;
}
.dont-acc a {
    color: #FC9B2A;
}
.signup-modal .modal-dialog .popup-main-div.signup2 {
    padding: 100px 30px 70px;
}
.signup-modal1 h2 {
    font-size: 25px;
    color: #5B5A58;
    font-weight: 700;
}
.popup-main-div.signup2 {
    float: left;
    width: 100%;
    margin-top: 50px;
}
textarea.input-textarea {
    float: left;
    width: 100%;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px 10px;
    max-height: 71px;
    margin-bottom: 60px;
}
.signup-modal1 p {
    font-size: 22px;
    float: left;
    width: 100%;
    margin: 20px 0 20px;
}
div#appShower .base-timer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(
90deg
);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}
.base-timer__path-remaining.red {
    color: red;
}

.timer-main-div  span {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    /* position: absolute; */
    /* top: 60px; */
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    /* height: 100%; */
    text-align: center;
    float: left;
}
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #FFE5B8;
}
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color:#FFD283;
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  .timer-main-div .base-timer__label {
    position: absolute;
    width: 192px;
    height: 192px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: #FCB944;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    left: 50%;
    top: 50%;
    padding-top: 30px;
    transform: translate(-50%, -50%);
}
.inner-breath {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.inner-breath p {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-top: 13px;
}
.inner-breath h2 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-top: 0px;
}
.breath-div.time h2 {
    font-size: 50px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}
.timer-main-div {
    width: 230px;
    height: 230px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}
.timer-main-div-inner {
    background: #fcb944;
    border: 15px solid #ffe5b8;
    width: 230px;
    height: 230px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    border-radius: 130px;
}
.timer-main-div p {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    text-align: center;
    float: left;
    line-height: 68px;
}
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #FC9B2A;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader-outer {
    float: left;
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


/*== Volume Range Slider ==*/

.volume-slider input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 117px;
    max-width: 500px;
    outline: none;
    transform: rotate(
-90deg
);
}
  .volume-slider  input[type="range"]:focus,
  .volume-slider  input[type="range"]:active,
  .volume-slider  input[type="range"]::-moz-focus-inner,
  .volume-slider  input[type="range"]::-moz-focus-outer {
    border: 0;
    outline: none;
  }
  .volume-slider  input[type="range"]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    background-color: #FC9B2A;
    background-position: 0 0;
    background-size: cover;
    transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
    cursor: pointer;
    margin-top: 2px;
    -webkit-appearance: none;
    border-radius: 50px;
  }
  .volume-slider  input[type="range"]::-moz-range-thumb:active {
    background-position: 100% 0px;
    transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
  }
  .volume-slider  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;
  }
  .volume-slider  input[type="range"]::-moz-range-progress {
    height: 20px;
    background: #FAE1A3;
    border-radius: 10px;
    cursor: pointer;
  }
  .volume-slider  input[type="range"]::-webkit-range-progress {
    height: 20px;
    background: #FAE1A3;
    border-radius: 10px;
    cursor: pointer;
  }
  .volume-slider  input[type="range"]::-webkit-slider-thumb {
    border: none;
    height: 16px;
    width: 16px;
    background-color: #FC9B2A;
    background-position: 0 0;
    background-size: cover;
    transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
    cursor: pointer;
    margin-top: 2px;
    -webkit-appearance: none;
    border-radius: 50px;
  }
  .volume-slider   input[type="range"]::-webkit-slider-thumb:active {
    background-position: 100% 0px;
    transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
  }
  .volume-slider  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    -webkit-appearance: none;
  }

  .volume-slider {
    position: absolute;
    right: -30px;
    top: -91px;
    left: auto;
}

/*=== 16-03-2021 ===*/

body.second-page {
    background: #FAF9F9;
}
.navbar-light .navbar-brand.logo-second {
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 58px;
    color: #FC9B2A;
}
.navbar-light .navbar-brand.logo-second img {
    max-width: 150px;
}
header#header {
    background: #fff;
    float: left;
    width: 100%;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    /* background: url(../images/down-arrow.png); */
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 16px;
    left: 42px;
}
#header .navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #434141;
}
#header .navbar-light li.nav-item.dropdown a.dropdown-toggle {
    padding: 0 0;
    margin-left: 20px;
    position: relative;
}
.update-main-inner {
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-right: 70px;
}
main#main-div {
    float: left;
    width: 100%;
}
.updated-left-div {
    float: left;
    max-width: 27%;
    padding-top: 42px;
    padding-left: 24px;
    background: #fff;
    border-radius: 0px 31px 0px 0px;
    height: calc(100vh - 124px);
}
.top-left-content h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #434141;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.top-left-content p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #000000;
    float: left;
    width: 100%;
    padding-left: 0px;
}
.update-main-inner .left-box-div.breath {
    background: #FAF9F9;
    margin-top: 290px;
    padding: 20px 14px;
}
.update-main-inner .left-box-div.breath .container-checkbox .checkmark {
    position: initial;
    font-size: 11px;
    padding: 5px 10px;
    height: auto;
    width: auto;
    border-radius: 51px;
    padding: 7px 14px;
    background: #f3f1f1;
    font-weight: 600;
}
button.breath-nature {
    width: 315px;
    height: 54px;
    left: 87px;
    top: 690px;
    background: #FAE1A3;
    border-radius: 70px 0px 0px 70px;
    border: 0;
    float: right;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 53px;
    text-transform: capitalize;
    color: #434141;
    margin-top: 50px;
}
button.breath-nature img {
    width: 7px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 1px;
}
.update-main-inner .left-box-div.breath .container-checkbox input:checked ~ .checkmark {
    background-color: #fdcd94;
}
.updated-center-div {
    float: left;
    margin-left: 54px;
    width: 30%;
}
.updated-center-div .focus-post {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 18px 18px 20px;
}
.updated-center-div .focus-post h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #434141;
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
.updated-center-div .focus-post input.form-control {
    border-bottom: 1px solid #E6E6E6;
    border: 0;
    border-bottom: 1px solid #E6E6E6;
    padding: 5px 0;
    float: left;
    width: 76%;
    margin-right: 15px;
}
.updated-center-div .focus-post button.post-btn {
    width: 81px;
    height: 31px;
    left: 821px;
    top: 162px;
    background: #434141;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: capitalize;
    color: #FFFFFF;
    border-radius: 70px;
    border: 0;
    padding: 3px 0;
}
.updated-center-div .focus-post ul#myTab {
    text-align: center;
    float: left;
    width: 100%;
    display: inline-block;
    border: 0;
    margin-bottom: 17px;
}
.updated-center-div .focus-post ul#myTab li.nav-item {
    float: none;
    margin:0 5px;
    width: auto;
    display: inline-block;
}
.updated-center-div .focus-post ul#myTab li.nav-item a.nav-link {
    background: #F9F7F7;
    border-radius: 8px;
    padding: 5px 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #434141;
    border: 0;
    position: relative;
}
span.live-dot {
    height: 8px;
    width: 8px;
    background: #74ad73;
    position: absolute;
    border-radius: 40px;
    right: 8px;
}
.updated-center-div .focus-post ul#myTab li.nav-item a.nav-link.active {
    background: #FBE7B5;
    border: 0;
}
.updated-center-div .focus-post .tab-content>.tab-pane h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #434141;
    float: left;
    width: 100%;
    margin-top: 9px;
    text-align: center;
    margin-bottom: 18px;
}
.updated-center-div .focus-post .tab-content>.tab-pane h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
    color: #434141;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 13px;
}
.updated-center-div .focus-post button.join-session {
    background: #FAE1A3;
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: capitalize;
    color: #434141;
    width: 131px;
    height: 34px;
    border: 0;
    margin: 0 auto 7px;
    float: none;
    display: block;
}
.updated-center-div .focus-post.tab-main-div {
    margin-top: 28px;
}
.focus-post.tab-main-div.user-online h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #434141;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
ul.user-online {
    float: left;
    width: 100%;
}
ul.user-online li {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 32px;
    overflow: hidden;
    margin-right: 8px;
    margin-bottom: 16px;
    position: relative;
}
ul.user-online li:nth-child(9n) {
    margin-right: 0;
}
span.profile-count {
    background: #FC6F6F;
    float: left;
    width: 100%;
    height: 44px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    text-align: center;
}
a.add-users {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    overflow: hidden;
    background: red;
    display: inline-block;
    float: right;
    background: #FAE1A3;
    padding: 12px;
}
.add-user-online {
    float: left;
    width: 100%;
    margin-top: 25px;
}
header#header .container {
    max-width: 1420px;
}
#header .navbar-light li.nav-item.dropdown a.dropdown-toggle img.rounded-circle {
    float: left;
}
#header .navbar-light li.nav-item.dropdown a.dropdown-toggle p {
    float: left;
    margin-left: 10px;
    margin-top: 9px;
}
#header .navbar-light li.nav-item.dropdown a.dropdown-toggle {
    padding: 0 0;
    margin-left: 20px;
    position: relative;
}
ul.user-online .container-checkbox .checkmark {
    position: initial;
    padding: 5px 10px;
    height: 44px;
    width: 44px;
    border-radius: 80px;
    padding: 0;
    background: #f3f1f1;
    font-weight: 600;
    border: 2px solid #fff;
    display: inline-block;
    overflow: hidden;
}
ul.user-online .container-checkbox input:checked ~ .checkmark {
    border: 2px solid #de9e53;
}
.updated-right-div {
    float: left;
    max-width: 24%;
    margin-left: 54px;
}
.updated-right-div .left-box-div {
    background: #fff;
    margin-top: 0;
}
.updated-right-div .left-box-div h2 {
   font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #434141;
    float: left;
    width: 100%;
    margin-bottom: 12px;
}
.updated-right-div span.info-icon {
    float: right;
    width: 21px;
    margin-top: -1px;
}
.chat-tab-main {
    float: left;
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px 20px;
}
.chat-tab-main .nav-tabs .nav-link {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #050505;
    border: 0;
}
.chat-tab-main .nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.chat-tab-main .nav-tabs .nav-item.show .nav-link, .chat-tab-main .nav-tabs .nav-link.active {
    background: rgba(252, 155, 42, 0.25);
    border-radius: 30px;
}
.chat-tab-main .tab-content>.tab-pane {
    background: #FCFBFB;
    padding: 15px 15px;
    border-radius: 12px;
    float: left;
    width: 100%;
    max-height: 290px;
    overflow-y: auto;
}
.chat-tab-main div#myTabContent {
    margin-top: 20px;
}
ul.chat-list {
    float: left;
    width: 100%;
    min-height: 200px;
}
ul.chat-list li {
    float: left;
    width: 80%;
    margin-bottom: 10px;
}
ul.chat-list li.reply-right-side {
    float: right;
    width: 80%;
    text-align: right;
    margin-top: 4px;
}
ul.chat-list li.reply-right-side span.profile-span {
    margin-right: 0;
    margin-left: 10px;
    float: right;
    margin-top: 2px;
}
ul.chat-list li.reply-right-side p {
    float: left;
    width: 84%;
}
ul.chat-list li span.profile-span {
    float: left;
    margin-right: 10px;
}
ul.chat-list li p {
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #373636;
}
ul.chat-list li p b {
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #373636;
}
.send_msg_to {
    float: left;
    width: 100%;
    margin-top: 21px;
}
.rec-name {
    float: left;
    margin-left: 10px;
    width: 87%;
}
span.rec-image {
    width: 30px;
    height: 30px;
    float: left;
}
.rec-name h3 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #434141;
    float: left;
    width: 100%;
    margin-bottom: 6px;
}
.input-rec {
    float: left;
    width: 100%;
}
.input-rec input.form-control {
    border: 0;
    border-bottom: 1px solid #E6E6E6;
    padding: 5px 0;
    float: left;
    width: 82%;
    margin-right: 15px;
    border-radius: 0;
}
.input-rec textarea.form-control {
    border: 0;
    border-bottom: 1px solid #E6E6E6;
    padding: 5px 0;
    float: left;
    width: 82%;
    margin-right: 15px;
    border-radius: 0;
    resize: none;
}
.rec-image {
    float: left;
}
button.send-btn {
    padding: 0;
    border: 0;
    float: left;
    background: transparent;
    width: 32px;
}
#header .navbar-light li.nav-item.dropdown a.dropdown-toggle span.arrow {
    float: left;
    width: 13px;
    margin: 9px 0 0 10px;
}
.private-session-btns {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
}
.updated-center-div .focus-post .private-session-btns button.join-session {
    margin: 0 10px 7px;
    display: inline-block;
}
.updated-center-div .focus-post .private-session-btns button.join-session.reset {
    background: transparent;
    padding: 0;
    position: initial;
    margin-right: -90px;
    width: auto;
}
.main-disable {
    opacity: 0.5;
    pointer-events: none;
}
div#headline .popup-main-div.signup.about-div.contact h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150.6%;
    text-align: center;
    color: #5B5A58;
}
#headline.signup-modal .modal-dialog .popup-main-div.signup.about-div.contact {
    padding: 60px 48px 20px;
    min-height: 360px;
}
div#headline textarea.textarea-input {
    border: 2px solid #000;
    height: 100px;
    font-size: 16px;
    padding: 13px 20px;
}
div#headline button.btn.session {
    float: none;
    display: block;
    width: 208px;
    margin: 20px auto 0;
    height: 34px;
    padding: 0 0;
}
div#headline button.back-btn {
    background: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    left: 35px;
    top: 30px;
}



/*=== Edit-prfile ===*/
.edit-profile-page {
    float: left;
    width: 100%;
    background: #fff;
    padding: 60px 0 0;
    min-height: calc(100vh - 84px);
}
.edit-profile-page .container {
    max-width: 1420px;
}
.edit-profile-page-back {
    float: left;
    width: 100%;
}
.edit-profile-page-main .Profile-image span.profile-image-div {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    display: block;
}
.edit-profile-page-back a {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #434141;
}
.edit-profile-page-back a img {
    float: left;
    margin-right: 30px;
}
.edit-profile-page-back a img {
    float: left;
    margin-right: 30px;
    margin-top: 5px;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
    padding-right: 0;
}
.edit-profile-page-main {
    float: left;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    position: relative;
}
.edit-profile-page-main .Profile-image {
    width: 122px;
    height: 122px;
    margin: 0 auto;
    position: relative;
}
.edit-profile-page-main .Profile-image span.profile-edit {
    position: absolute;
    right: 1px;
    bottom: -10px;
}
.focus-seeions-div {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 20px;
}
.focus-seeions-div p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    display: inline-block;
    margin: 0 20px;
}
.focus-seeions-div p span {
    font-size: 32px;
    margin-bottom: -21px;
    display: block;
}
span.joined-span {
    float: left;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #FF00C7;
    margin-top: 15px;
}
.profile-form {
    display: block;
    margin: 0px auto 0;
    max-width: 596px;
    width: 100%;
    overflow: hidden;
}
.profile-form .form-group.name {
    float: left;
    width: 50%;
    text-align: left;
}
.profile-form .form-group label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin: 0 0 4px;
    float: left;
    width: 100%;
    text-align: left;
}
.profile-form .form-group.name input.form-control.name-input {
    height: 48px;
    background: rgba(220, 222, 222, 0.25);
    border-radius: 10px;
    width: 100%;
    border: 0;
    color: #959494;
}
.profile-form .form-group.role {
    float: right;
    width: 31%;
    max-width: 122px;
}
.profile-form .form-group.role select {
    width: 100%;
    height: 43px;
    /* left: 849px; */
    /* top: 431px; */
    background: rgba(220, 222, 222, 0.25);
    border-radius: 10px;
    float: left;
    border: 0;
    padding: 0 8px;
    color: #959494;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/coolicon.png);
    background-repeat: no-repeat;
}
.profile-form .form-group.role select {
    width: 100%;
    height: 43px;
    /* left: 849px; */
    /* top: 431px; */
    background: rgba(220, 222, 222, 0.25);
    border-radius: 10px;
    float: left;
    border: 0;
    padding: 0 8px;
    color: #959494;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url(../images/coolicon.png);
    background-repeat: no-repeat;
    background-position: 94% center;
    padding-right: 26px;
}
.form-control.tagline-textarea {
    width: 100%;
    height: 43px;
    background: rgba(220, 222, 222, 0.25);
    border-radius: 10px;
    float: left;
    width: 100%;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    resize:none;
        padding-right: 42px;
}
.form-group.tagline {
    float: left;
    width: 100%;
    position: relative;
}
.form-group.tagline span.count-word {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #8D8D8D;
    position: absolute;
    right: 24px;
    top: 40px;
}
button.btn.edit-profile-save {
    background: #FAE1A3;
    border-radius: 70px;
    width: 445px;
    height: 54px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: capitalize;
    color: #434141;
    margin-top: 60px;
}
.signup-modal1 button.back-btn {
    background: transparent;
    padding: 0;
    border: 0;
    position: absolute;
    left: 35px;
    top: 30px;
}
div#signup-session2 .popup-main-div.signup2 {
    padding: 0 48px 20px;
    margin-top: 2px;
}

div#signup-session2 .popup-main-div.signup2 {
    padding: 0 72px 20px;
}
div#signup-session2 p {
    font-weight: normal;
    font-size: 20px;
    color: #434141;
}
button.btn.session.next-btn {
    width: 208px;
    height: 34px;
    margin: 20px auto 0;
    float: none;
    display: block;
}
.next-btn-div {
    float: left;
    width: 100%;
    margin: 10px 0 0;
}
div#headline .modal-content {
    border: 0;
}
div#User-detail .modal-dialog {
    max-width: 320px;
    height: 238px;
}
div#User-detail .modal-dialog .modal-content {
    padding: 15px 14px;
}
.user-profile-pic {
    float: left;
    margin-right: 12px;
}
.right-user-detail-div h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #050505;
    margin: 0;
    /* float: left; */
    /* width: 100%; */
}
.right-user-detail-div p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #050505;
}
.user-detail-btm-div {
    float: left;
    width: 100%;
    margin-top: 13px;
}
.user-detail-btm-div p {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 13px;
    line-height: 19px;
    color: #050505;
    float: left;
    width: 100%;
}
.userdetail-session {
    float: left;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #050505;
    text-align: center;
}
.userdetail-session p {
    width: auto;
    display: inline-block;
    margin: 20px 13px;
}
.userdetail-session p {
    width: auto;
    display: inline-block;
    margin: 20px 13px;
    font-size: 14px;
}
.userdetail-session p span {
    font-size: 13px;
}
button.btn.chat-btn {
    width: 64px;
    height: 24px;
    border-radius: 40px;
    padding: 0;
    background: #434141;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 108.1%;
    text-transform: capitalize;
    color: #FFFFFF;
    display: inline-block;
    float: none;
    margin: 0 9px;
}
.chat-btn-maini-div {
    float: left;
    width: 100%;
    text-align: center;
}
button.btn.chat-btn.tip {
    color: #434141;
    background: #fae1a3;
}
.productive-rate .user-detail-btm-div h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150.4%;
    text-align: center;
    color: #434141;
}
.productive-rate .rate-div {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.productive-rate .rate-div span.checkmark {
    height: 56px;
    width: 43px;
    background: #f8f8f8;
    /* opacity: 0.5; */
    border-radius: 8px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 11px !important;
    line-height: 15px;
    text-align: center;
    color: #000000;
}
.productive-rate .rate-div .container-checkbox input:checked ~ .checkmark {
    background: #fdcd94;
}
.productive-rate .rate-div label.container-checkbox {
    display: inline-block;
    margin: 0 4px;
}
div#info-modal .modal-content {
    padding: 20px 20px;
}
.user-detail-div.info-modal-main {
    float: left;
    width: 100%;
    padding: 5px 15px;
}
.user-detail-div.info-modal-main p {
    float: left;
    width: 100%;
    font-family: 'Nunito';
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.user-detail-div.info-modal-main h3 {
    float: left;
    width: 100%;
    margin-top: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #050505;
}
.productive-rate {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 18px 18px 20px;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    margin-top: 28px;
}
#signup-new ul.signup-list li {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150.6%;
    color: #5B5A58;
}
#signup-new ul.signup-list li img {
    margin-top: 7px;
}
#signup-new .popup-main-div.signup h2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150.6%;
    color: #5B5A58;
}
#signup-new .popup-main-div.signup {
    padding: 0px 100px 20px;
}
#signup-new .modal-dialog {
    max-width: 570px;
}
a.social-btns.gmail {
    background: #C5331E;
    border-radius: 12px;
    float: left;
    width: 300px;
    margin: 0;
    text-align: left;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    height: 41px;
    padding: 9px 20px;
    cursor:pointer;
}
a.social-btns.gmail img {
    width: auto;
    margin-right: 40px;
}
a.social-btns.gmail:hover{color: #fff;}

a.social-btns.fb {
    background: #5079E7;
    border-radius: 12px;
    float: left;
    width: 300px;
    margin: 0;
    text-align: left;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    height: 41px;
    padding: 9px 20px;
    cursor:pointer;
}
a.social-btns.fb img {
    width: auto;
    margin-right: 40px;
}
a.social-btns.fb:hover{color:#fff;}

a.email-signup {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 150.6%;
    text-align: center;
    text-decoration: underline!important;
    color: #5B5A58!important;
    float: left;
    width: 96%;
    margin-top: 30px; 
    text-align: right;
    margin-bottom: 10px;
} 
a.social-btns.fb {
    margin-top: 13px;
}
a.social-btns.gmail {
    margin-top: 20px;
}
#signup-new ul.signup-list {
    margin-top: 14px;
}
#signup-new button.close span {
    color: #5B5A58;
    background:none;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}




/* coffee house page css start */
.coffee-main .container-fluid{padding:0 40px;}
.coffee-main{ background-image: url("../images/coffee-bg.png");background-repeat: no-repeat;height:100vh;background-size:cover;background-attachment: fixed;
background-position: center;
}

.coffee-main .navbar-light .navbar-brand.logo-second{color:#fff;}
.coffee-main .links{display:inline-block;border-left:2px solid #7f7f7f;padding-left: 40px;margin-left: 40px;}
.coffee-main .links li{display:inline-block;margin-right:30px;font-size: 17px;}
.coffee-main .links li a{color:#E5E5E5;}
.coffee-main #navbarDropdownMenuLink { width: 40px;height: 40px;overflow: hidden;padding:0;border-radius:50%;}
.coffee-main #navbarDropdownMenuLink img{width:100%;height:100%;object-fit:cover;}
.coffee-main .dropdown-toggle::after {display: inline-block;width: 16px;height: 10px;margin-left: .255em;vertical-align: .255em;content: "";border-top: 0;
border-right: 0;border-bottom: 0;border-left: 0;background: url(assets/images/down-arrow2.png);background-repeat: repeat;background-size: auto;background-repeat: no-repeat;background-size: 100%;
position: absolute;top: 16px;left: 50px;}
button.take-mind{border:0;background:#FAE1A3;color:#373636;border-radius:50px;padding:0 18px;height:35px;margin-right:20px;font-size:16px;}
button.take-mind img {margin-left: 8px;}
.volume {margin-right: 35px;padding:0;}
.volume img{margin-right: 5px;}
.volume .line {width: 108px;background: #AD9595;display: inline-block;vertical-align: middle;height: 1px;position:relative;}
.volume .white {background: #fff;width: 40px;height: 1px;display: block;}
.volume-round{width: 13px;height: 13px;background: #FFFFFF;border: 0;border-radius: 50%;position: absolute;top: -7px;left: 30px;}
.coffee-bottom{position:absolute;bottom:40px;}
.coffee-bottom li{background:#0D0D0D;border-radius: 16px;padding:12px;width:290px;display:inline-block;margin-right:10px;vertical-align:top;min-height: 310px;}
.coffee-bottom li .webcam-wrapper {width: 100%;}
.coffee-bottom li .webcam-wrapper video {width: 100%;height: 100%;}
.coffee-bottom li.web-cam .name {margin: 15px 0 0;}
.coffee-bottom .li-img{width:100%;height:145px;border-radius: 12px;overflow:hidden;}
.coffee-bottom .li-img img{width:100%;height:100%;object-fit:cover;}
.name {text-align: center;margin:15px 0;}
.name li{display:inline-block;font-size:14px;color:#fff;padding: 0;margin: 0;width: auto;min-height: auto;}
.name li.devide{color:#4D4D4D;margin:0 10px;}
.time{text-align:center;color:#FFFFFF;font-size:12px;}
.time.leave-add{float: left;width: 100%;padding: 0 20px;}
.time.leave-add a.leave{font-size: 16px;color: #000;background: #FAE1A3;border: 0;border-radius: 35px;padding: 4px 18px;float: right;
margin-bottom: 12px;display: inline-block;}
.time.leave-add span {margin-top: 8px;float: left;}
.coffee-bottom li.take-seat.only-btn button{padding: 5px 15px;}
.coffee-bottom li.take-seat.only-btn{padding: 138px 0;min-height: 310px;}
.time img{width:16px;height:16px;margin-right:8px;vertical-align:top;}
.desc{text-align:center;font-size:13px;color:#B2B2B2;padding:0 10px;line-height:20px;border-top:1px solid #4D4D4D;padding-top: 15px;margin-top: 15px;}
.name li:last-child{color:#B2B2B2;}
.coffee-bottom li.take-seat {text-align: center;padding:80px 0;}
.coffee-bottom li.take-seat img{width:24px;height:24px;}
.coffee-bottom li h4{font-size:18px;color:#fff;font-weight:400;margin:25px 0 17px;}
.coffee-bottom li button{font-size:16px;color:#000;background:#FAE1A3;border:0;border-radius:35px;padding: 5px 12px;
display: inline-block;}
.coffee-bottom li p{color:#B2B2B2;font-size:13px;margin-top:10px;display: flex;
justify-content: center;
align-items: center;min-height: 45px;}
.coffee-bottom li.take-seat p{min-height:auto;}
.coffee-bottom li.remaning{background:none;text-align:center;padding: 75px 0;min-height: 310px;}
.coffee-bottom li.remaning h3{font-size:18px;color:#fff;}
.coffee-bottom li.remaning h2{font-size:72px;color:#fff;font-weight:700;padding:16px 0 8px;}
.coffee-bottom li.remaning h5{font-size:14px;color:#B2B2B2;font-weight:400;}
.coffee-bottom li:last-child{margin-right:0;}
.coffee-main .navbar-expand-lg .navbar-nav .dropdown-menu{left: auto;right: 0;} 

#signup-new-pop .popup-main-div.signup {padding: 0px 100px 20px;}
#signup-new-pop .popup-main-div.signup h2{text-align: left;line-height: 35px;padding: 0 35px;margin: 0;}
#signup-new-pop a.social-btns.gmail {margin-top: 35px;}
#signup-new-pop .email-signup{text-align: center;margin-top: 21px;}
#signup-new-pop p{font-family: Nunito;font-style: normal;font-weight: bold;font-size: 15px;line-height: 150.6%;color: #5B5A58 ;float: left;
width: 100%;margin: 50px 0 0;text-align: center;}
#signup-new-pop .popup-main-div.signup{padding: 0px 100px 10px;}
#signup-new-pop p a{font-style: normal;font-weight: bold;color: #5B5A58;margin: 0;text-decoration: underline;}

#login-new-pop .popup-main-div.signup {padding: 0px 100px 20px;}
#login-new-pop .popup-main-div.signup h2{text-align: center;margin: 0;}
#login-new-pop .popup-main-div.signup h3{text-align: center;color: #9A9997;font-size: 16px;font-weight: 700;line-height: 24px;float: left;width: 100%;margin: 14px 0 30px;}
#login-new-pop a.social-btns.gmail {margin-top: 0;}
#login-new-pop .email-signup{text-align: center;margin-top: 21px;}
#login-new-pop p{font-style: normal;font-weight: bold;color: #b0b0b0;margin: 0;text-align: center;margin: 50px 0 0;}
#login-new-pop p a{color: #fc9b2a;text-decoration: underline;float: left;width: 100%;margin-top: 8px;}
#login-new-pop .popup-main-div.signup{padding: 0px 100px 10px;}

#take-seat .modal-dialog .popup-main-div.signup{padding: 0px 60px 20px;}
#take-seat .modal-dialog .form-group label{font-size: 25px;color: #5B5A58;text-align: center;font-weight: 700;margin: 0 0 12px;}
#take-seat .modal-dialog .form-group .form-control{border: 2px solid #9c9a9a;border-radius: 10px;height: 50px;}
#take-seat #exampleFormControlTextarea1 {min-height: 100px;}
#take-seat .form-group {margin-bottom: 45px;}
#take-seat button.btn {background: #FAE1A3;color: #434141;font-size: 23px;font-weight: 700;width: 223px;height: 48px;padding: 0;border-radius: 70px;}

.coffee-main .post-main {float: left;width: 100%;}
.coffee-main .post-main .form-control {width: 75%;display: inline-block;}
.coffee-main .post-main .btn {float: right;}

#our-story .popup-main-div.signup {padding: 0px 55px 25px;}
#our-story .popup-main-div.signup h3{font-size: 20px;color: #050505;font-weight: 700;margin: 0 0 45px;} 
#our-story .popup-main-div.signup p{font-size: 18px;color: #050505;font-weight: 300;line-height: 24px;margin: 0;} 


/* coffee house page css close */

/* volume bar css start */
.slidecontainer {display: inline-block;vertical-align: middle;margin-left:5px;width:100px;}
.slider {-webkit-appearance: none;width: 100%;height: 1px;background: #AD9595;outline: none; opacity: 1;-webkit-transition: .2s;
transition: opacity .2s;}
.slider:hover {opacity: 1;}
.slider::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;width: 14px;height: 14px;background: #fff;cursor: pointer;
border:1px solid #fff;}
.slider::-moz-range-thumb {width: 14px;height: 14px;background: #fff;cursor: pointer;border:1px solid #fff;}
.volume img {margin-top:5px;}
/* volume bar css close */







@media only screen and (max-width:1680px){
.coffee-bottom li{width:16%;}
.name li{width:auto;}
.name li.devide{margin: 0 7px}
.name li{font-size: 13px;}

} 


@media only screen and (max-width:1680px){
.time.leave-add{padding: 0 10px;}

    
}  




@media only screen and (max-width:1599px){

.container-fluid {max-width: 100%;padding: 0 107px;}
.container {max-width: 1340px;}
button.btn.upgrade {padding: 10px 30px;width: 167px;}
ul.right-icons li:first-child img {width: 41px;}
ul.right-icons li img {width: 32px;}
.left-col-div {max-width: 27%;}
.right-col-div {max-width: 27%;float: right;}
ul.right-main-div-content li h3 {margin-right: 5px;}
.left-box-div .left-div-left-content .sound-div h2 {margin-right: 8px;}
.container-checkbox .checkmark {padding: 8px 14px;}
.right-col-div .container-checkbox .checkmark {padding: 8px 10px;}
.left-box-div .left-div-left-content h2 {font-size: 19px;}
.container-checkbox .checkmark {padding: 8px 12px;}
.left-box-div {padding: 16px 12px;margin-top: 21px;}
.top-right-div {padding-top: 126px;}
ul.right-icons li:first-child img {width: 40px;}
ul.right-icons li img {width: 32px;}
ul.right-main-div-content li h3 {font-size: 20px;margin-right: 1px;}
ul.right-main-div-content li p {font-size: 11px;padding-right: 0px;width: 54%;}
.left-box-div .left-div-left-content .sound-div h2 {font-size: 15px;margin-right: 10px;}
.right-col-div .container-checkbox .checkmark {padding: 8px 8px;}
.left-div-right-content img {width: 42px;}
.volume-slider {position: absolute;right: -37px;top: -76px;left: auto;}
.top-right-div {padding-top: 139px;}
.sound-div ul.tags-breath label.container-checkbox {margin-bottom: 0;}
.updated-center-div .focus-post input.form-control {width: 74%;}
.updated-center-div {width: 32%;}
.updated-right-div {max-width: 28%;}
.updated-left-div {max-width: 30%;}
ul.user-online li {margin-right: 7px;}

/* coffee house page css start */
.coffee-bottom li{width:250px;margin-bottom: 10px;min-height: 290px;}
.coffee-bottom .name li{min-height: auto;}
.coffee-bottom .name li {width: auto;font-size: 13px;}
.coffee-bottom li.take-seat{padding: 77px 0;}
.coffee-bottom li.remaning{padding: 75px 0;}
.time.leave-add{padding: 0 5px;}
.coffee-bottom .li-img{height: 130px;}
.coffee-bottom .li-img video{height: 100%;}
.name{margin: 12px 0;}
.coffee-main .post-main .form-control{width: 70%;}
.coffee-bottom li.take-seat.only-btn {padding: 128px 0;min-height: 290px;}
.time.leave-add a.leave {font-size: 13px;}

/* coffee house page css close */


}

@media only screen and (max-width:1589px){
.coffee-bottom li {width: 248px;}

}

@media only screen and (max-width:1577px){
.coffee-bottom li {width: 246px;}
    
}

@media only screen and (max-width:1565px){
.coffee-bottom li {width: 244px;}
        
}

@media only screen and (max-width:1553px){
.coffee-bottom li {width: 242px;}
.coffee-bottom .name li{font-size: 12px;} 

}

@media only screen and (max-width:1541px){
.coffee-bottom li {width: 240px;}

}

@media only screen and (max-width:1529px){
.coffee-bottom li {width: 238px;}
    
}

@media only screen and (max-width:1517px){
.coffee-bottom li {width: 236px;}
        
}

@media only screen and (max-width:1505px){
.coffee-bottom li {width: 234px;}
            
}

@media only screen and (max-width:1493px){
.coffee-bottom li {width: 232px;}
.coffee-bottom li p{font-size: 12px;}                

}

@media only screen and (max-width:1481px){
.coffee-bottom li {width: 230px;}  
    
}

@media only screen and (max-width:1469px){
.coffee-bottom li {width: 228px;}  
        
}

@media only screen and (max-width:1456px){
.coffee-bottom li {width: 226px;}  
.name li.devide {margin: 0 5px;}            

}

@media only screen and (max-width:1445px){
.coffee-bottom li {width: 224px;}  
          
}



@media only screen and (max-width: 1440px){

.container-fluid {max-width: 100%;padding: 0 100px;}
.left-box-div .left-div-left-content h2 {font-size: 17px;color: #000000;font-weight: 700;float: left;width: 100%;margin-bottom: 3px;}
span.info img {width: 27px;}
button.breath-nature {width: 270px;height: 50px;font-size: 14px;line-height: 50px;}
.container-checkbox .checkmark {padding: 8px 13px;font-size: 10px;}
.tags-breath li a.start-btn {font-size: 12px;}
.left-div-right-content img {width: 40px;}
.left-main-div h1 {font-size: 30px;margin-bottom: 40px;}
ul.right-main-div-content li p {font-size: 10px;width: 56%;}
ul.right-main-div-content li h3 {margin-right: 3px;font-size: 18px;}
.left-box-div .left-div-left-content .sound-div h2 {margin-right: 8px;font-size: 13px;}
button.btn.upgrade {padding: 9px 43px;width: auto;font-size: 14px;}
button.btn.upgrade img {width: 18px;float: left;margin: 0 8px 0 0;}
ul.right-icons li:first-child img {width: 36px;}
ul.right-icons li img {width: 28px;}
div#wrapper.app-splash-screen {background-size: 344px, 309px;}
ul.right-main-div-content li h3 {font-size: 16px;margin-right: 1px;}  
ul.right-main-div-content li p {font-size: 11px;padding-right: 0px;width: 55%;}
.left-box-div .left-div-left-content .sound-div h2 {font-size: 14px;margin-right: 8px;}
ul.user-online li {float: left;width: 40px;height: 40px;margin-right: 5px;}

/* coffee house page css start */
.coffee-bottom li{width:225px;padding: 10px;min-height: 280px;}
.coffee-bottom .name li{padding: 0;}
.name li.devide{margin: 0 5px;}
.coffee-bottom .name li{font-size: 12px;}
.desc{padding: 0;}
.name{margin: 12px 0 10px;}
.coffee-bottom li.take-seat {padding: 72px 0;}
.coffee-bottom li.remaning{padding: 72px 0;}
.coffee-bottom li p{float: left;width: 100%;}
.coffee-bottom li.take-seat.only-btn {padding: 135px 0;}
.time.leave-add a.leave{padding: 4px 14px;margin-bottom: 0;}
.coffee-bottom li.take-seat.only-btn {padding: 122px 0;min-height: 280px;}
.coffee-main .post-main{margin-top: 10px;}

/* coffee house page css close */

}

@media only screen and (max-width:1439px){
.coffee-bottom li {width: 223px;}  
                  
}


@media only screen and (max-width:1427px){
.coffee-bottom li {width: 221px;}  
                      
}

@media only screen and (max-width:1415px){
.coffee-bottom li {width: 220px;}  
                          
}

@media only screen and (max-width:1409px){
.coffee-bottom li {width: 218px;padding: 8px;}  
                              
}

@media only screen and (max-width:1397px){
.coffee-bottom li {width: 216px;}  
                                  
}

@media only screen and (max-width:1385px){
.coffee-bottom li {width: 214px;}  
.name li.devide {margin: 0 3px;}                             

}

@media only screen and (max-width:1385px){
.coffee-bottom li {width: 212px;}  
                            
    
}


@media only screen and (max-width: 1366px){

div#wrapper.app-splash-screen {background-size: 314px, 269px;}
a.logo {font-size: 80px;margin-bottom: 7px;}
.splash-screen p {font-size: 20px;}
.left-box-div .left-div-left-content h2 {font-size: 16px;margin-bottom: 2px;}
.left-box-div .left-div-left-content p {font-size: 14px;}
.left-box-div {padding: 15px 15px;margin-top: 21px;}
.container-checkbox .checkmark {padding: 7px 12px;font-size: 10px;}
.sound-div ul.tags-breath {margin-top: 0px;}
.right-col-div .container-checkbox .checkmark {padding: 7px 8px;}
ul.right-icons li img {width: 26px;}
ul.right-icons li:first-child img {width: 33px;}
button.btn.upgrade {padding: 6px 37px;width: auto;font-size: 14px;}
footer#footer ul.footer-link li a {font-size: 17px;}
footer#footer {margin-top: 130px;}
.updated-right-div {max-width: 29%;}
.update-main-inner .left-box-div.breath .container-checkbox .checkmark {padding: 7px 11px;}
.left-box-div .left-div-left-content .sound-div h2 {font-size: 14px;margin-right: 10px;}
ul.right-main-div-content li h3 {font-size: 16px;margin-right: 1px;}
ul.right-main-div-content li p {font-size: 10px;padding-right: 0px;width: 55%;}
#changepassword .modal-body.change-password {padding: 20px 20px 38px;}
div#changepassword .modal-body.change-password h1 {font-weight: 400;font-family: 'Noto Sans JP', sans-serif;font-size: 24px;float: left;width: 100%;text-align: center;margin: 40px 0 18px;}
.Hosting-graph-curved-data {padding: 15px;margin-top: 15px;min-height: 242px;}
main.buyandhold .Hosting-graphs-right-right {padding: 15px;min-height: 369px;}
ul.user-online li {float: left;width: 37px;height: 37px;border-radius: 32px;overflow: hidden;margin-right: 5px;margin-bottom: 16px;position: relative;}
span.profile-count {background: #FC6F6F;float: left;width: 100%;height: 44px;
font-family: 'Nunito';font-style: normal;font-weight: bold;font-size: 12px;line-height: 41px;color: #fff;text-align: center;}
ul.chat-list li.reply-right-side p {float: left;width: 82%;}

/* coffee house page css start */
.coffee-main .container-fluid {padding: 0 30px;}
.coffee-main .links li {font-size: 15px;}
.coffee-bottom li {width: 215px;padding: 8px;min-height: 260px;}
.coffee-bottom .name li {font-size: 11px;}
.time{font-size: 11px;}
.coffee-bottom li p{font-size: 12px;line-height: 15px;min-height: 50px;}
.coffee-bottom li.take-seat {padding: 65px 0;}
.coffee-bottom li.remaning {padding: 65px 0;}
.coffee-bottom .li-img{height: 120px;}
.coffee-bottom li.take-seat.only-btn {padding: 115px 0;min-height: 260px;}
.time.leave-add a.leave {font-size: 12px;}
.coffee-bottom li.remaning h2{font-size: 60px;}
.coffee-bottom li button{font-size: 15px;}
/* coffee house page css close */

}

@media only screen and (max-width:1365px){

.updated-center-div .focus-post button.post-btn {height: 31px;}
.update-main-inner .left-box-div.breath {background: #FAF9F9;margin-top: 290px;padding: 16px 11px;}
.update-main-inner .left-box-div.breath .container-checkbox .checkmark {padding: 7px 10px;}
ul.user-online li {width: 40px;height: 40px;}
ul.user-online .container-checkbox .checkmark {height: 100%;width: 100%;}
.chat-tab-main .nav-tabs .nav-link {padding: .5rem 0.8rem;}

}

@media only screen and (max-width:1365px){

.right-col-div .container-checkbox .checkmark {padding: 7px 7px;}
.update-main-inner {float: left;width: 100%;padding-top: 40px;padding-right: 40px;}
.updated-center-div .focus-post input.form-control {margin-right: 9px;}
ul.user-online li {width: 34px;height: 34px;}

}



@media only screen and (max-width: 1359px){
.coffee-bottom li {width: 212px;}

}

@media only screen and (max-width: 1341px){
.coffee-bottom li {width: 210px;}
    
}

@media only screen and (max-width: 1341px){
.coffee-bottom li {width: 208px;}
        
}

@media only screen and (max-width: 1317px){
.coffee-bottom li {width: 205px;}
            
}

@media only screen and (max-width: 1299px){ 
.coffee-bottom li {width: 203px;}
                            
}


@media only screen and (max-width: 1289px){ 
.coffee-bottom li {width: 202px;}
                        
}

@media only screen and (max-width: 1281px){ 
.coffee-bottom li {width: 200px;}
                            
}


@media only screen and (max-width:1280px){

ul.right-main-div-content li p{width: 60%;}
.left-box-div .left-div-left-content .sound-div h2{font-size: 13px;}
button.breath-nature{width: 250px;font-size: 13px;margin-top: 30px;}

/* coffee house page css start */
.coffee-bottom li {min-height: 255px;}
.coffee-bottom .li-img {height: 110px;}
.coffee-bottom li h4{font-size: 15px;margin: 15px 0 15px;}
.coffee-bottom li.take-seat {padding: 58px 0;}
.coffee-bottom li.remaning {padding: 58px 0;}
.coffee-bottom li.remaning h2 {font-size: 60px;padding: 10px 0 10px;}
.time img{margin-right: 5px;}
.coffee-bottom li.take-seat.only-btn {padding: 110px 0;min-height: 255px;}
.coffee-main .post-main .form-control{width:66%;height: 33px;}
.time.leave-add a.leave{padding: 4px 12px;font-size: 12px;}
.coffee-bottom li button {font-size: 13px;}
.coffee-bottom li.remaning h2{font-size: 55px;}
.time img {width: 14px;height: 14px;}

/* coffee house page css close */

}

@media only screen and (max-width:1269px){
.coffee-bottom li {width: 198px;}

}


@media only screen and (max-width:1259px){
.coffee-bottom li {width: 198px;}
.coffee-bottom .name li {font-size: 10px;}
.time img {width: 14px;height: 14px;}
   
}


@media only screen and (max-width:1257px){
.coffee-bottom li {width: 196px;}
    
}

@media only screen and (max-width:1245px){
.coffee-bottom li {width: 194px;}
        
}

@media only screen and (max-width:1233px){
.coffee-bottom li {width: 193px;}
            
}

@media only screen and (max-width:1200px){

.left-col-div {max-width: 30%;}    
.right-col-div{max-width: 30%;}

}