<!-- <body class="second-page"> -->
<audio id="bellSound" style="display: none;">
	<source src="assets/audio/timeupbell.mp3" type="audio/mpeg">
</audio>
<audio id="postSound" style="display: none;">
	<source src="assets/audio/PostButtonClick.mp3" type="audio/mpeg">
</audio>
<audio id="joinSessionSound" style="display: none;">
	<source src="assets/audio/JoinSessionClick.mp3" type="audio/mpeg">
</audio>
<audio id="sessionStartingSound" style="display: none;">
	<source src="assets/audio/SessionStarting.mp3" type="audio/mpeg">
</audio>
<audio id="beforesessionStartingSound" style="display: none;">
	<source src="assets/audio/30SecondsbeforeSession.mp3" type="audio/mpeg">
</audio>
<div id="wrapper-div">
	<header id="header">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand logo-second" href="#"><img src="assets/images/logo2.jpg"></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li style="cursor: pointer;" class="nav-item active">
							<a class="nav-link" data-toggle="modal" data-target="#about">About Us</a>
						</li>
						<li class="nav-item" style="cursor: pointer;">
							<a class="nav-link" data-toggle="modal" data-target="#contact">Contact Us</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img [src]="imageUser" src="{{imageUser}}" width="36" height="36"
									class="rounded-circle"> <span class="arrow"><img
										src="assets/images/down-arrow.png"></span>
								<p *ngIf="guestOrUser == 'guest'">Guest</p>
								<p *ngIf="guestOrUser == 'user'">{{loggedInUserName}}</p>
								<!-- <p>Farazleo</p> -->
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a style="cursor: pointer;" *ngIf="guestOrUser =='user'"
									class="dropdown-item">Dashboard</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser =='user'" class="dropdown-item"
									routerLink="/update-profile">Edit Profile</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser =='user'" style="cursor: pointer;"
									(click)="logout()" class="dropdown-item">Log Out</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser == 'guest'" class="dropdown-item"
									id="signhupforsession" data-toggle="modal" data-target="#signup-new">Sign Up</a>
								<a style="cursor: pointer;" *ngIf="guestOrUser == 'guest'" id="signinButton"
									class="dropdown-item" href="#" data-toggle="modal" data-target="#signin">Sign In</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div><!-- container -->
	</header><!-- header -->
	<main id="main-div">
		<div class="update-main-inner">
			<div class="updated-left-div main-disable add-main-disable-class">
				<div class="top-left-content">
					<!-- <h2 *ngIf="guestOrUser == 'guest'">Good Morning Guest,</h2>
							  <h2 *ngIf="guestOrUser == 'user'">Good Morning {{loggedInUserName}},</h2> -->
					<h2>Join us for 25-min work sprints by</h2>
					<p>1. Sharing your focus with comminity.</p>
					<p>2. Joining a 25-min focus session.</p>
					<p>3. Taking a 5-min break after each focus session.</p>
				</div><!-- top-left-content -->
				<div class="left-box-div breath">
					<div class="left-div-left-content">
						<h2>Background Sound <span class="info"></span></h2>
						<div class="sound-div">
							<h2>Ambient</h2>
							<ul class="tags-breath">
								<li>
									<label class="container-checkbox">
										<input type="checkbox" value="river" [checked]="checkMusic('river')"
											name="ambientCheck" ([ngModel])="ambientCheck"
											(click)="ambientMusic('river',$event)">
										<audio id="riverSound" controls loop class="audio" style="display: none;">
											<source src="assets/audio/river.mp3" type="audio/mpeg">
										</audio>
										<span class="checkmark">Waterfall</span>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input type="checkbox" value="waves" [checked]="checkMusic('waves')"
											name="ambientCheck" ([ngModel])="ambientCheck"
											(click)="ambientMusic('waves',$event)">
										<audio id="wavesSound" controls loop class="audio" style="display: none;">
											<source src="assets/audio/waves.mp3" type="audio/mpeg">
										</audio>
										<span class="checkmark">Waves</span>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input type="checkbox" [checked]="checkMusic('birds')" value="birds"
											name="ambientCheck" ([ngModel])="ambientCheck"
											(click)="ambientMusic('birds',$event)">
										<audio id="birdsSound" controls loop class="audio" style="display: none;">
											<source src="assets/audio/birds.mp3" type="audio/mpeg">
										</audio>
										<span class="checkmark">Birds</span>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input type="checkbox" [checked]="checkMusic('forest')" value="forest"
											name="ambientCheck" ([ngModel])="ambientCheck"
											(click)="ambientMusic('forest',$event)">
										<audio id="forestSound" controls loop class="audio" style="display: none;">
											<source src="assets/audio/forest.mp3" type="audio/mpeg">
										</audio>
										<span class="checkmark">Forests</span>
									</label>
								</li>
							</ul>
						</div>
						<div class="sound-div">
							<h2>Music</h2>
							<ul class="tags-breath">
								<li>
									<label class="container-checkbox">
										<input id="lofiCheck" class="musicCheckbox lofiCheck" type="checkbox"
											(click)="music('lofi',$event)">
										<span class="checkmark">Lofi</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].lofi" id="lofiSound"
											controls loop class="musicMain audio" style="display: none;">
											<source src="assets/audio/lofi.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input id="jazzCheck" class="musicCheckbox jazzCheck" type="checkbox"
											(click)="music('jazz',$event)">
										<span class="checkmark">Jazz</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].jazz" id="jazzSound"
											controls loop class="musicMain audio" style="display: none;">
											<source src="assets/audio/jazz.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input id="ambientCheck" class="musicCheckbox ambientCheck" type="checkbox"
											(click)="music('ambient',$event)">
										<span class="checkmark">Ambient</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].ambient" id="ambientSound"
											controls loop class="musicMain audio" style="display: none;">
											<source src="assets/audio/ambient.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input id="ambientCheck" class="musicCheckbox classicalCheck" type="checkbox"
											(click)="music('classical',$event)">
										<span class="checkmark">Classical</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].classical"
											id="classicalSound" controls loop class="musicMain audio"
											style="display: none;">
											<source src="assets/audio/classical.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
							</ul>
						</div>
						<div class="sound-div">
							<h2>Chimes</h2>
							<ul class="tags-breath">
								<li>
									<label class="container-checkbox">
										<input type="checkbox" (click)="music('mixed',$event)"
											class="musicCheckbox mixedCheck">
										<span class="checkmark">Mixed</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].mixed" id="mixedSound"
											controls loop class="musicMain audio" style="display: none;">
											<source src="assets/audio/mixed.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input class="musicCheckbox gsCheck" type="checkbox"
											(click)="music('gs',$event)">
										<span class="checkmark">G#</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].gs" id="gsSound" controls
											loop class="musicMain audio" style="display: none;">
											<source src="assets/audio/gs.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
								<li>
									<label class="container-checkbox">
										<input type="checkbox" (click)="music('cs',$event)"
											class="musicCheckbox csCheck">
										<span class="checkmark">C#</span>
										<audio *ngIf="musicArray.length > 0 && musicArray[0].cs" id="csSound" controls
											loop class="musicMain audio" style="display: none;">
											<source src="assets/audio/cs.mp3" type="audio/mpeg">
										</audio>
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- left-box-div -->
				<button routerLink="/" class="breath-nature"> Take a Mindful Minute <img
						src="assets/images/right-arrow.png"> </button>
			</div><!-- updated-left-div -->
			<div class="updated-center-div">
				<div class="focus-post main-disable add-main-disable-class">
					<h1>What is your focus?</h1>
					<div class="focus-input-div">
						<form (submit)="postFocusText()">
							<input name="focusText" [(ngModel)]="focusText" type="text" class="form-control"
								placeholder="My Focus:">
							<button type="submit" class="post-btn">Post</button>
						</form>
					</div>
				</div>
				<div *ngIf="showFeedback" class="productive-rate">
					<div class="user-detail-div">
						<div class="user-detail-btm-div">
							<h1>How Productive was your <br>session ? Rate from 1-5.</h1>
							<div class="rate-div">
								<label class="container-checkbox">
									<input [(ngModel)]="rating" name="rating" value="1" (click)="submitRating(1)"
										type="radio" name="rate">
									<span class="checkmark">1</span>
								</label>
								<label class="container-checkbox">
									<input [(ngModel)]="rating" name="rating" value="2" (click)="submitRating(2)"
										type="radio" name="rate">
									<span class="checkmark">2</span>
								</label>
								<label class="container-checkbox">
									<input type="radio" name="rate" [(ngModel)]="rating" name="rating" value="3"
										(click)="submitRating(3)">
									<span class="checkmark">3</span>
								</label>
								<label class="container-checkbox">
									<input type="radio" [(ngModel)]="rating" name="rating" value="4"
										(click)="submitRating(4)" name="rate">
									<span class="checkmark">4</span>
								</label>
								<label class="container-checkbox">
									<input [(ngModel)]="rating" name="rating" value="5" (click)="submitRating(5)"
										type="radio" name="rate">
									<span class="checkmark">5</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div id="hideorshowADiv" class="focus-post tab-main-div ">
					<div class="bs-example">
						<ul id="myTab" class="nav nav-tabs">
							<li *ngIf="!fiveMinuteTimer" class="nav-item">
								<a id="publicSessionId" href="#public" class="nav-link active" data-toggle="tab">Live
									<span class="live-dot"></span></a>
							</li>
							<li *ngIf="fiveMinuteTimer" class="nav-item">
								<a id="publicSessionId" href="#public" class="nav-link active" data-toggle="tab">Live
									<span style="background: #e81414;" class="live-dot"></span></a>
							</li>
							<li class="nav-item">
								<a href="#private" id="privateSessionId" class="nav-link" data-toggle="tab">Private</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="public">
								<h4 *ngIf="!fiveMinuteTimer && !sessionJoined && !timerStarted">25-min Focus Session in
									Progress</h4>
								<h4 *ngIf="fiveMinuteTimer && !sessionJoined ">5-min Break Time, 25-min Focus Session in
								</h4>

								<h4 *ngIf="sessionJoined && !timerStarted">Joining 25-min focus Session in</h4>

								<!-- <h4 *ngIf="sessionJoined && !timerStarted && !sessionCompleted">Automatically joining session in</h4> -->
								<h4 *ngIf="timerStarted">{{focusText}}</h4>
								<!-- <h4 *ngIf="sessionCompleted">Take a break, next session in</h4> -->

								<h1 id="timer"></h1>
								<button *ngIf="!sessionJoined && !timerStarted" (click)="joinSession()" type="button"
									class="join-session">Join Session</button>
								<button (click)="leaveSession()" *ngIf="sessionJoined " type="button"
									class="join-session">Leave Session</button>
								<!-- <button *ngIf="timerStarted && !sessionCompleted"   type="button" class="join-session">Leave Session </button> -->
								<button *ngIf="sessionCompleted && !timerStarted && !sessionJoined"
									(click)="joinSession()" type="button" class="join-session">Join Session</button>
							</div>
							<div class="tab-pane fade" id="private">
								<h4 *ngIf="!privateTimer">Start Private Session</h4>
								<h4 *ngIf="privateTimer">{{focusText}}</h4>
								<h1 *ngIf="!stopTimer" id="timer2">25:00</h1>
								<h1 *ngIf="stopTimer">{{privateTimeCount.minutes}}:{{privateTimeCount.seconds}}</h1>
								<div class="private-session-btns">
									<button *ngIf="!privateTimer" (click)="joinPrivateSession()" type="button"
										class="join-session">Start</button>
									<button *ngIf="privateTimer && !stopTimer" (click)="stopPrivateSession()"
										type="button" class="join-session">Stop</button>
									<button *ngIf="privateTimer && stopTimer" (click)="resumePrivateSession()"
										type="button" class="join-session">Resume</button>
									<button (click)="ResetTimer()" *ngIf="privateTimer && !stopTimer" type="button"
										class="join-session reset"><img src="assets/images/reset-icon.png">
										Reset</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- tab-main-div -->
				<div class="focus-post tab-main-div user-online main-disable add-main-disable-class">
					<h2>Users Online</h2>
					<ul class="user-online">

						<li *ngIf="guestOrUser == 'user'">
							<label class="container-checkbox">
								<input type="radio" name="radio1">
								<span class="checkmark"><img [src]="imageUser" src="{{imageUser}}"></span>
							</label>
						</li>
						<li *ngIf="guestOrUser != 'user'">
							<label class="container-checkbox">
								<input type="radio" name="radio1">
								<span class="checkmark"><img src="assets/images/me.png"></span>
							</label>
						</li>
						<li *ngFor="let post of liveUserShowUI" (click)="getData(post)" data-toggle="modal"
							data-target="#User-detail">
							<label class="container-checkbox">
								<input type="radio" name="radio1">
								<span class="checkmark"><img src="{{post.image}}"></span>
							</label>
						</li>
						<!-- <li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar2.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar3.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar-3.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar4.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar5.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar6.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar7.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar8.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar9.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar10.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar11.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar12.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar13.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar14.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar1.png"></span>
	                            	</label>
	                          	</li>
	                          	<li>
	      							<label class="container-checkbox">
	                                <input type="radio" name="radio1" >
	                                <span class="checkmark"><img src="assets/images/Avatar12.png"></span>
	                            	</label>
	                          	</li> -->
						<li *ngIf="pagintionLiveUser"><span class="profile-count">32+</span></li>

					</ul><!-- user-online -->
					<span *ngIf="liveUserShowUI.length == 0">No user is Online now</span>
				</div>
				<div class="add-user-online main-disable add-main-disable-class">
					<a href="#" class="add-users"><img src="assets/images/add-user.png"></a>
				</div>
			</div><!-- updated-center-div -->
			<div class="updated-right-div main-disable add-main-disable-class">
				<div class="left-box-div">
					<h2>Statistics <span class="info-icon" data-toggle="modal" data-target="#info-modal"><img
								src="assets/images/info-icon.png"></span></h2>
					<ul class="right-main-div-content">
						<li>
							<h3>{{focusSession}}</h3>
							<p>Focus Sessions</p>
						</li>
						<li>
							<h3>{{breatingSeassion}}</h3>
							<p>Mindful Minutes</p>
						</li>

						<li>
							<h3>0</h3>
							<p>Tipped Points</p>
						</li>
					</ul>
				</div><!-- left-box-div -->
				<div class="chat-tab-main">
					<section>
						<ul style="display: none;" class="nav nav-tabs" id="public" role="tablist">
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" id="public-tab" data-toggle="tab" href="#Public" role="tab"
									aria-controls="home" aria-selected="false">Public</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" id="cheery-tab" data-toggle="tab" href="#cheery" role="tab"
									aria-controls="profile" aria-selected="false">Cheery</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link active" id="Max-tab" data-toggle="tab" href="#Max" role="tab"
									aria-controls="contact" aria-selected="true">Max</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" id="kimmy-tab" data-toggle="tab" href="#kimmy" role="tab"
									aria-controls="kimmy" aria-selected="true">Kimmy</a>
							</li>
							<li class="nav-item waves-effect waves-light">
								<a class="nav-link" id="more-tab" data-toggle="tab" href="#more" role="tab"
									aria-controls="more" aria-selected="true">More</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade" id="Public" role="tabpanel" aria-labelledby="public-tab">
								<ul style="overflow: scroll;" class="chat-list">
									<li>
										<span class="profile-span"><img src="assets/images/chat2.png"></span>
										<p><b>joaquin_phoenix Nicky, I hope you have a good session ahead!</b></p>
									</li>
									<li class="reply-right-side">

										<p><b>Sandra Gosa Hello, great to see you all here! Lookin forward.</b></p>
										<span class="profile-span"><img src="assets/images/chat1.png"></span>
									</li>
								</ul><!-- chat-list -->
							</div>
							<div class="tab-pane fade" id="cheery" role="tabpanel" aria-labelledby="cheery-tab">
								<ul class="chat-list">
									<li>
										<span class="profile-span"><img src="assets/images/chat2.png"></span>
										<p><b>joaquin_phoenix Nicky, I hope you have a good session ahead!</b></p>
									</li>
									<li>
										<span class="profile-span"><img src="assets/images/chat1.png"></span>
										<p><b>Sandra Gosa Hello, great to see you all here! Lookin forward.</b></p>
									</li>
								</ul><!-- chat-list -->
							</div>
							<div class="tab-pane fade active show" id="Max" role="tabpanel" aria-labelledby="Max-tab"
								#scrollMe [scrollTop]="scrollMe.scrollHeight">
								<ul class="chat-list">
									<!-- <li class="reply-right-side">
				                			
												<p><b>Sandra Gosa Hello, great to see you all here! Lookin forward.</b></p>
												<span class="profile-span"><img src="assets/images/chat1.png"></span>
											</li> -->

									<ng-container *ngFor="let post of message">
										<li *ngIf="loggedInId != post.sender">
											<span class="profile-span">
												<img *ngIf="post.image !='' || post.image != undefined" style="height: 25px;
													border-radius: 15px;" src="{{post.image}}">
												<img *ngIf="post.image =='' || post.image == undefined " style="height: 25px;
													border-radius: 15px;" src="assets/images/dummy-profile.png">
											</span>
											<p><b>{{post.message}}</b></p>
										</li>
										<li *ngIf="loggedInId == post.sender" class="reply-right-side">
											<span class="profile-span">
												<img style="height: 25px;
													border-radius: 15px;" [src]="imageUser" src="{{imageUser}}"></span>
											<p><b>{{post.message}}</b></p>
										</li>
									</ng-container>


									<!-- <li>
				                			<span class="profile-span"><img src="assets/images/chat1.png"></span>
				                			<p><b>Sandra Gosa Hello, great to see you all here! Lookin forward.</b></p>
				                		</li> -->
								</ul><!-- chat-list -->
							</div>
							<div class="tab-pane fade" id="kimmy" role="tabpanel" aria-labelledby="kimmy-tab">
								<ul class="chat-list">
									<li>
										<span class="profile-span"><img src="assets/images/chat2.png"></span>
										<p><b>joaquin_phoenix Nicky, I hope you have a good session ahead!</b></p>
									</li>
									<li>
										<span class="profile-span"><img src="assets/images/chat1.png"></span>
										<p><b>Sandra Gosa Hello, great to see you all here! Lookin forward.</b></p>
									</li>
								</ul><!-- chat-list -->
							</div>
						</div>
						<div *ngIf="guestOrUser == 'user' " class="send_msg_to">
							<div class="rec-image">
								<span class="rec-image"><img style="border-radius: 14px;" [src]="imageUser"
										src="{{imageUser}}"></span>
							</div><!-- name -->
							<div class="rec-name">
								<h3>{{loggedInUserName}}</h3>
								<div class="input-rec">
									<textarea (keydown.enter)="sendMessage($event)" type="text" [(ngModel)]="chatbox"
										name="chatbox" class="form-control"
										placeholder="Encourage others, share your &#10; focus, share your small wins "></textarea>
									<button (click)="sendMessage($event)" type="button" class="send-btn"><img
											src="assets/images/send.png"></button>
								</div>
							</div>

						</div>
					</section>
				</div><!-- chat-tab-main -->
			</div><!-- updated-right-div -->
		</div>

	</main><!-- main -->
</div><!-- wrapper-div -->

<div class="modal signup-modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="signupCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div style="padding: 11px 80px 20px;" class="popup-main-div signup">
					<!-- <h1 class="popup-logo">Cheery</h1> -->
					<h2 style="text-align: center">Sign up for a Free account.</h2>
					<p style="text-align: center">Get unlimited community focus sessions.</p>
					<!-- <ul class="signup-list">
						<li><img src="assets/images/check-circle.png"> Mindful breathing Sessions</li>
						<li><img src="assets/images/check-circle.png"> Deep focus sessions</li>
						<li><img src="assets/images/check-circle.png"> Daily motivations</li>
					  </ul> -->
					<form class="signup-form">
						<div class="form-group">
							<input type="text" name="email" [(ngModel)]="email" class="input-control"
								placeholder="Email Address">
							<span style="color: red;"
								*ngIf="responseError.email_taken">{{responseError.email_taken_message}}</span>
						</div>
						<div class="form-group">
							<input type="password" name="password" [(ngModel)]="password" class="input-control"
								placeholder="Password">
						</div>
						<a href="#" class="forgot-pass">Forgot Password?</a>
						<button type="button" (click)="CheckEmail()" class="btn session"><i *ngIf="ShowSubmitLoader"
								id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign Up</button>
						<p style="float: right;">Already have an account <span style="cursor: pointer;"
								(click)="openLogIn()">Log In</span></p>
						<!-- <span data-toggle="modal" data-dismiss="modal"  data-target="#signup2" id="openSecondModel"></span> -->
						<button style="display: none;" data-dismiss="modal" id="openSecondModel" type="button"
							class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup-session2"
							style="display: none;"></button>
						<div class="or-div">or Sign Up with</div>
						<div class="social-signup">
							<a (click)="socialSignIn('facebook')"><img src="assets/images/facebook.png"></a>
							<a (click)="socialSignIn('google')"><img src="assets/images/google.png"></a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<h1 class="popup-logo">Cheery</h1>
					<h2>We’re so glad you’re here.</h2>
					<p>What should we call you?</p>
					<!-- <form class="signup-form"> -->
					<div class="form-group">
						<input type="text" placeholder="Type here..." name="name" [(ngModel)]="name"
							class="form-control">
					</div>
					<button [disabled]="name === ''" type="button" class="btn session" data-toggle="modal"
						data-dismiss="modal" data-target="#signup3">Next</button>
					<!-- </form> -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup3" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="finalCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Hello {{name}}!</h2>
					<p>What woud you like help with?</p>
					<div class="select-ans session-div">
						<label class="container-checkbox">
							<input name="helpingWith" value="Finding Mindfulness" [(ngModel)]="helpingWith" type="radio"
								name="radio">
							<span class="checkmark">Finding Mindfulness.</span>
						</label>
						<label class="container-checkbox">
							<input name="helpingWith" value="Focusing during Work" [(ngModel)]="helpingWith"
								type="radio" name="radio">
							<span class="checkmark">Focusing during Work</span>
						</label>
						<label class="container-checkbox">
							<input name="helpingWith" [(ngModel)]="helpingWith" value="Finding Motivation" type="radio"
								name="radio">
							<span class="checkmark">Finding Motivation</span>
						</label>
						<button (click)="submitsignupform()" type="button" class="btn session" data-toggle="modal"><i
								*ngIf="ShowSubmitLoader" id="loginLOader"
								class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Submit</button>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<div class="modal signup-modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeLoginModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Welcome Back!</h2>
					<p>Log in to your account</p>
					<form class="signup-form">
						<span *ngIf="responseError.emailErrorLogin"
							style="color: red;">{{responseError.email_taken_message}}</span>
						<div class="form-group">
							<input name="emailLogin" [(ngModel)]="emailLogin" type="text" class="input-control"
								placeholder="Email Address">
						</div>
						<div class="form-group">
							<input name="passwordLogin" [(ngModel)]="passwordLogin" type="password"
								class="input-control" placeholder="Password">
						</div>
						<a href="#" class="forgot-pass">Forgot Password?</a>
						<button (click)="signin()" type="button" class="btn session"><i *ngIf="ShowSubmitLoader"
								id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign In</button>
						<span data-toggle="modal" data-dismiss="modal" data-target="#sessionproduct"
							style="display: none;"></span>
						<div class="or-div">or Sign Up with</div>
						<div class="social-signup">
							<a (click)="socialSignIn('facebook')"><img src="assets/images/facebook.png"></a>
							<a (click)="socialSignIn('google')"><img src="assets/images/google.png"></a>
						</div>
					</form>
					<div class="dont-acc">
						Don’t have an account? <a style="cursor:pointer" data-toggle="modal" data-target="#signup-new"
							data-dismiss="modal">Sign up for Free</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup-session2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<p>Would you describe yourself as a...</p>
					<div class="select-ans session-div">
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Employee" type="radio"
								name="describe">
							<span class="checkmark">Employee</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Student" type="radio"
								name="describe">
							<span class="checkmark">Student</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Self Employed"
								type="radio" name="describe">
							<span class="checkmark">Self Employed</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Entrepreneur"
								type="radio" name="describe">
							<span class="checkmark">Entrepreneur</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Other" type="radio"
								name="describe">
							<span class="checkmark">Other</span>
						</label>
						<div class="next-btn-div">
							<button type="button" class="btn session next-btn" data-toggle="modal"
								data-target="#headline" data-toggle="modal" data-dismiss="modal">Next</button>
							<!-- <button style="display: none;" data-dismiss="modal" id="openSecondModel" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup-session2" style="display: none;"></button> -->
						</div>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<div class="modal signup-modal fade" id="headline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div contact">
					<h2>Your headline and tagline. </h2>
					<div class="select-ans">
						<textarea [(ngModel)]="headline" name="headline"
							placeholder=" UX Researcher for National University of singapore  "
							class="textarea-input"></textarea>

						<button data-toggle="modal" data-dismiss="modal" data-target="#signup2" type="button"
							class="btn session next-btn">Next</button>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>

<!-- <div class="modal signup-modal fade" id="headline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<button type="button" class="back-btn" ><img src="assets/images/back-btn.png">                    </button>
				<div class="modal-body">
						
						<div class="popup-main-div signup about-div contact">
						<h2>Your headline and tagline. </h2>
						<div class="select-ans">
							<textarea placeholder="Finishing up the UX " class="textarea-input"> UX Researcher for National University of singapore  </textarea>
							<button type="button" class="btn session">Next</button>
						</div>
						</div>
				</div>
				</div>
			</div>
			</div> -->



<!-- Modal -->
<div id="User-detail" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<div class="user-detail-div">
					<div class="user-profile-pic"><img height="51" src="{{profileData.image}}"></div>
					<div class="right-user-detail-div">
						<h2>{{profileData.name}}</h2>
						<p>{{converDate(profileData.created_at)}}</p>
					</div>
					<div class="user-detail-btm-div">
						<p><b>Tagline :</b> {{profileData.headline}}</p>
						<!-- <p *ngIf="profileData.current_focus == undefined"><b>Current Focus :</b > -</p> -->
						<div class="userdetail-session">
							<p>{{profileData.focus_session}} <br> <span>Focus Sessions</span></p>
							<p>0 <br> <span>Tipped Points</span></p>
						</div>
						<!-- <div class="chat-btn-maini-div">
								  <button type="button" class="btn chat-btn">Chat</button>
								  <button type="button" class="btn chat-btn tip">Tip</button>
							  </div> -->
					</div>
				</div>
			</div>
		</div>

	</div>
</div>






<div id="info-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body">
				<div class="user-detail-div info-modal-main">
					<p>The man who moves a mountains starts by moving small stones." - Confucius</p>
					<h3>You move 1 stone with each focus session</h3>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="modal signup-modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div">
					<h1 class="popup-logo">Cheery</h1>
					<h2>About Cheery</h2>
					<p>My partner and I have always labeled ourselves as "not morning people" with lethargy and a lack
						of motivation in the morning being a huge problem. Last year, we developed a morning system to
						give ourselves a morning boost. To our pleasant surprise, we found that our mood and
						productivity increased a fair bit (about 15% according to mood journals)</p>
					<p>So, Cheery was founded with hopes of helping other "not morning people" have a systematic way to
						start the day better. We believe that conquering the morning is the most important step to
						conquering the day and we want to help everyone achieve this.</p>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>



<div class="modal signup-modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div contact">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Help us make Cheery better for you. </h2>
					<p>We’ll reach back within a day.</p>
					<div class="select-ans">
						<textarea placeholder="Finishing up the UX " class="textarea-input"></textarea>
						<span class="word-count">20/150</span>
						<button type="button" class="btn session" data-toggle="modal" data-dismiss="modal"
							data-target="#sessionproduct">Send</button>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>

<div class="modal signup-modal fade" id="signup-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup">
					<h2>Sign up for a Free account.</h2>
					<ul class="signup-list">
						<li><img src="assets/images/green-tick.png"> Unlimited Focus Sessions</li>
						<li><img src="assets/images/green-tick.png"> Unlimited Focus Sounds</li>
						<li><img src="assets/images/green-tick.png"> Unlimited Mindful Minutes</li>
					</ul>
					<div class="social-signup">
						<a (click)="socialSignIn('google')" class="social-btns gmail"><img
								src="assets/images/signup-g.png"> Continue With Google</a>
						<a (click)="socialSignIn('facebook')" class="social-btns fb"><img
								src="assets/images/signup-fb.png"> Continue With Facebook</a>
						<a style="cursor: pointer;" data-dismiss="modal" data-toggle="modal" data-target="#signup"
							class="email-signup">or Sign-Up with email</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>