input-rec textarea.form-control{
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-bottom: 1px solid #E6E6E6;
    padding: 5px 0;
    float: left;
    width: 82%;
    margin-right: 15px;
    border-radius: 0;
    resize: none;
    }