<app-header></app-header>
    <div class="container" style="max-width: 1000px;">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add video</button>
        <table class="table">
            <tr>
                <th>Video Name</th>
                <th>Attachment</th>
                <th>Action</th>
                <!-- <th>Email</th> -->
                
            </tr>
            <tr *ngFor="let post of videosData; let i=index;">
                <td>{{post.video_name}}</td>
                <td><video controls height="250" width="250" [muted]="'muted'"  
                    id="videoLoaded">
                    <source src="{{varImgUrl}}{{post.video_file}}" type="video/mp4">
                  </video></td>
                  <td><span data-toggle="modal" data-target="#myModal2" (click)="editVideos(post)">Edit</span> &nbsp;/&nbsp;<span (click)="deleteVideos(post.id)">Delete</span></td>
            </tr>
            
           
        </table>
        <!-- <button (click)="loadmore()" style="text-align: center;cursor: pointer;"  class="btn-load-more text-center" type="button">Load More
            <i _ngcontent-c9="" class="fa fa-angle-down"></i>
        </button> -->
        <!-- <p >Load More</p> -->
    </div>


    <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <!-- <h4 class="modal-title">Modal Header</h4> -->
                </div>
                <div class="modal-body">
                  <label>Video name</label>
                  <input type="text" name="video_name" [(ngModel)]="video_name" class="form-control">
                  <label>Video file</label>
                  <input type="file" (change)="readURL($event);" class="form-control">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button (click)="uploadVideo()" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                </div>
              </div>
          
            </div>
          </div>


    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- <h4 class="modal-title">Modal Header</h4> -->
            </div>
            <div class="modal-body">
                <label>Video name</label>
                <input type="text" name="video_name_edit" [(ngModel)]="video_name_edit" class="form-control">
                <label>Video file</label>
                <input type="file" (change)="readURL2($event);" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="uploadVideoEdit()" type="button" class="btn btn-default" data-dismiss="modal">Save</button>
            </div>
            </div>
        
        </div>
        </div>      