<div class="main">
    <p class="sign" style="text-align: center;">Sign in</p>
    <form class="form1"  (submit)="submitAdminForm()">
      <span  style="color: red;text-align: center;" >{{errorMsg}}</span>
      <input [(ngModel)]="email" name="email" class="un " type="text"  placeholder="email">
      <input [(ngModel)]="password" name="password" class="pass" type="password"  placeholder="Password">
      <!-- <a  class="submit" >Sign in</a> -->
      <button type="submit" class="submit"><i  *ngIf="ShowSubmitLoader" id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign in </button>
      <p class="forgot" >
          <!-- <a href="#">Forgot Password?</a> -->
        </p>
            </form>
                
    </div>