<video preload loop autoplay [muted]="'muted'" loop class="backgroundVideo" id="videoLoaded">
	<source src="{{base_url_media}}{{video_file}}" type="video/mp4">
</video>
<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
			<div id="video-wrapper">
				<video *ngIf="(isCallStarted$ | async)" #remoteVideo id="remote-video" poster="./assets/video-placeholder.jpg" autoplay
					playsinline></video>
				<video #localVideo id="local-video"  [ngClass]="{'callStarted': (isCallStarted$ | async)}" autoplay playsinline [muted]=true></video>
			</div>
		</div>
	</div>
	<div class="row">
		<button mat-raised-button color="primary" class="m-2" [disabled]="isCallStarted$ | async"
			(click)="showModal(false)">Copy Invite Link</button>
		 <!-- <button mat-raised-button class="m-2" [disabled]="isCallStarted$ | async" (click)="showModal(true)">Join -->
			<!-- Call</button>  -->
		
		<!-- <p></p> -->
		<!-- <button *ngIf="if_caller == 1" ngxClipboard [cbContent]="'test'">Copy</button> -->
		<!-- <button mat-raised-button color="warn" class="m-2" (cbOnSuccess)="copied($event)" ngxClipboard [cbContent]="'target string'">Copy</button> -->
		<!-- <button mat-raised-button color="warn" class="m-2" (cbOnSuccess)="copied($event)" (click)="copy(invite_link)">Copy</button> -->
		
	</div>
	<div class="row">
		<button mat-raised-button color="warn" class="m-2" [disabled]="!(isCallStarted$ | async)"
		(click)="endCall()">Leave</button>
	</div>
</div>