#video-wrapper {
	text-align: center;
	border-radius: 4px;
}

#remote-video {
	max-width: 100%;
	max-height: 90vh;
	border-radius: 4px;
	border: 3px solid green;
}

#local-video {
    z-index: 1;
    /* position: absolute; */
    right: 1.5rem;
	bottom: 1.5rem;
	width: 40vw;
	border: 3px solid red;
	border-radius: 4px;
	margin-top: 30px;
}

#local-video.callStarted {
    z-index: 1;
    position: absolute;
    right: 1.5rem;
	bottom: 1.5rem;
	width: 10vw;
	height: 10vw;
	max-width: 10rem;
	max-height: 10rem;
	border: 3px solid red;
	border-radius: 4px;
	margin-top: 0px;
}