<header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo-second" href="#"><img src="assets/images/logo2.jpg"></a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li routerLink="/admin/home" style="cursor: pointer;" class="nav-item active">
                            <a class="nav-link" data-toggle="modal" data-target="#about">Users</a>
                        </li>
                        <li routerLink="/admin/videos"  class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" data-toggle="modal" data-target="#contact">Videos</a>
                        </li>
                        <li routerLink="/admin/message"  class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" data-toggle="modal" data-target="#contact">Messages</a>
                        </li>
                        <li routerLink="/admin/music"  class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" data-toggle="modal" data-target="#contact">Music</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/dummy-profile.png" width="36" height="36" class="rounded-circle">
                                <span class="arrow"><img src="assets/images/down-arrow.png"></span>
                                <p>Admin</p>
                                <!-- <p *ngIf="guestOrUser == 'user'">{{loggedInUserName}}</p> -->
                                <!-- <p>Farazleo</p> -->
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    
                                <a (click)="logout()" style="cursor: pointer;">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div><!-- container -->
    </header>