<app-header></app-header>
<div class="container" style="max-width: 1000px;">
    <table class="table">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Focus Session</th>
            <th>Self Description</th>
            <th>Headline</th>
            <th>Helping With</th>
        </tr>
        <tr *ngFor="let post of usersData; let i=index;">
            <td *ngIf="post.login_type ==1"><img style="max-width: 50%;border-radius: 26px;" src="{{varImgUrl}}{{post.image}}"></td>
            <td *ngIf="post.login_type ==2"><img style="max-width: 50%;border-radius: 26px;" src="{{post.image}}"></td>
            <td>{{post.name}}</td>
            <td *ngIf="post.email !=null">{{post.email}}</td>
            <td *ngIf="post.email ==null">-</td>
            <td>{{post.focus_session}}</td>
            <td *ngIf="post.self_description !=null">{{post.self_description}}</td>
            <td *ngIf="post.self_description ==null">-</td>
            <td *ngIf="post.headline !=null">{{post.headline}}</td>
            <td *ngIf="post.headline ==null">-</td>
            <td *ngIf="post.helping_with !=null">{{post.helping_with}}</td>
            <td *ngIf="post.helping_with ==null">-</td>
        </tr>
    </table>
    <button (click)="loadmore()" style="text-align: center;cursor: pointer;"  class="btn-load-more text-center" type="button">Load More
        <i _ngcontent-c9="" class="fa fa-angle-down"></i>
    </button>
    <!-- <p >Load More</p> -->
</div>