.btn-load-more{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 9px 20px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #163666;

}