<app-header></app-header>
    <div class="container" style="max-width: 1000px;">
        <button data-toggle="modal" data-target="#myModal"  class="btn btn-primary">Add Message</button>
            <table class="table">
                <tr>
                    <th>Messages</th>
                    <th>DayCount</th>
                    <th>Day Music</th>
                    <!-- <th>Email</th>
                    <th>Focus Session</th>
                    <th>Self Description</th>
                    <th>Headline</th>
                    <th>Helping With</th> -->
                </tr>
                <tr *ngFor="let post of msgData; let i=index;">
                    <td>{{post.message}}</td>
                    <td>{{post.day}}</td>
                    <td> 
                        <audio controls>
                            <source src="{{varImgUrl}}{{post.audio}}" type="audio/ogg">
                            <!-- <source src="horse.mp3" type="audio/mpeg"> -->
                          </audio> 
                    </td>
                </tr>
            </table>
            <!-- <button (click)="loadmore()" style="text-align: center;cursor: pointer;"  class="btn-load-more text-center" type="button">Load More
                <i _ngcontent-c9="" class="fa fa-angle-down"></i>
            </button> -->
            <!-- <p >Load More</p> -->
        </div>    

        <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <!-- <h4 class="modal-title">Modal Header</h4> -->
                    </div>
                    <div class="modal-body">
                      <label>Message</label>
                      <textarea [(ngModel)]="messageText" name="messageText" class="form-control"></textarea>

                      <label>Day Count</label>
                      <input type="number" [(ngModel)]="dayCount" class="form-control" name="dayCount">

                      <label>Daily Music</label>
                      <input type="file" (change)="readURL($event);" class="form-control">
                      <!-- <textarea [(ngModel)]="messageText" name="messageText" class="form-control"></textarea> -->
                    </div>
                    <div class="modal-footer">
                            
                      
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button (click)="addMessage()" type="button" class="btn btn-default" data-dismiss="modal">save</button>
                    </div>
                  </div>
              
                </div>
              </div>        