<div *ngIf="showSplash" class="app-splash-screen" [ngStyle]="{ left: windowWidth }" id="wrapper">
	<div class="splash-screen">
		<div class="logo-main"><a href="#" class="logo"><img src="assets/images/logo.png" width="200px"></a></div>
		<p>Positivity. Mindfulness. Focus</p>
	</div><!-- splash-screen -->
</div>

<div *ngIf="!showSplash" id="wrapper">
	<audio id="bellSound" style="display: none;">
		<source src="assets/audio/timeupbell.mp3" type="audio/mpeg">
	</audio>
	<!-- <audio id="motivationSound" style="display: none;" >
        <source [src]="dailySound" type="audio/mpeg">
    </audio>  
    <li *ngFor="let video of videoArrayToShow; let i=index;">
  -->
	<div *ngFor="let video of videoArrayToShow; let i=index;" class="background-di-image">
		<video preload loop autoplay [muted]="'muted'" loop class="backgroundVideo"
			*ngIf="videoname == video.video_name" id="videoLoaded">
			<source src="{{base_url_media}}{{video.video_file}}" type="video/mp4">
		</video>
		<!-- <video preload loop  autoplay  [muted]="'muted'"  loop class="backgroundVideo" *ngIf="videoname == 'mountains' " id="videoLoaded">
        <source src="assets/video/mountains.mp4" type="video/mp4">
      </video>
      <video preload loop  autoplay  [muted]="'muted'"  loop class="backgroundVideo" *ngIf="videoname == 'lake' " id="videoLoaded">
        <source  src="assets/video/lake.mp4" type="video/mp4">
      </video> -->
	</div>
	<div class="main-bg">
		<!-- <webcam></webcam> -->
		<div class="main-inner">
			<div class="container-fluid">
				<div class="container-inner">
					<div class="left-col-div">
						<div class="left-main-div">
							<h1 *ngIf="guestOrUser == 'guest'">Hello, Guest</h1>
							<!-- <a style="cursor:pointer"  class="signup-new" href="#" data-toggle="modal"  data-target="#signup-new">Sign Up</a> -->
							<h1 *ngIf="guestOrUser == 'user'">Hello, {{loggedInUserName}}</h1>
							<div class="left-box-div">
								<div class="left-div-left-content">
									<h2>Your Daily Message</h2>
									<p>{{dailyMessage}}</p>
								</div>
								<div class="left-div-right-content">
									<img (click)="pauseOrPlay()" *ngIf="playDailySound" src="assets/images/pause.png">
									<img (click)="pauseOrPlay()" *ngIf="!playDailySound" src="assets/images/play.png">
									<span class="time">1 min</span>
								</div>
							</div><!-- left-box-div -->
							<div class="left-box-div breath">
								<div class="left-div-left-content">
									<h2>Mindful Breathing <span class="info"><img src="assets/images/info.png"></span>
									</h2>
									<ul class="tags-breath">
										<li>
											<label class="container-checkbox">
												<input [(ngModel)]="mindfulBreathing" value="0.5"
													name="mindfulBreathing" type="radio" name="radio">
												<span class="checkmark">30 sec</span>
											</label>
										</li>
										<li>
											<label class="container-checkbox">
												<input type="radio" name="radio" value="1"
													[(ngModel)]="mindfulBreathing" name="mindfulBreathing">
												<span class="checkmark">1 min</span>
											</label>
										</li>
										<li>
											<label class="container-checkbox">
												<input type="radio" name="radio" value="3"
													[(ngModel)]="mindfulBreathing" name="mindfulBreathing">
												<span class="checkmark">3 min</span>
											</label>
										</li>
										<li>
											<label class="container-checkbox">
												<input type="radio" name="radio" value="5"
													[(ngModel)]="mindfulBreathing" name="mindfulBreathing">
												<span class="checkmark">5 min</span>
											</label>
										</li>
										<li style="display: none;"><a href="#" id="openCalmPopup" class="start-btn"
												data-toggle="modal" data-target="#calmpopup">Start</a></li>
										<li style="cursor: pointer;"
											*ngIf="mindfulBreathing != undefined && this.totalBreathingSeconds <=0"><a
												(click)="openMindfulClock()">Start</a></li>
									</ul>
								</div>
							</div><!-- left-box-div -->
							<div class="">
								<!-- <div class="left-div-left-content">
                  <h2>MinDeep Focus  <span class="info"><img src="assets/images/info.png"></span></h2>
                  <ul class="tags-breath">
                    <li>
                      <label class="container-checkbox">
                        <input [(ngModel)]="mindDeepFocus" value="10"  type="radio" name="mindDeepFocus">
                        <span class="checkmark">10 min</span>
                      </label>
                    </li>
                    <li>
                      <label class="container-checkbox">
                        <input type="radio" value="25" [(ngModel)]="mindDeepFocus" name="mindDeepFocus">
                        <span class="checkmark">25 min</span>
                      </label>
                    </li>
                    <li>
                      <label class="container-checkbox">
                        <input type="radio" value="45" [(ngModel)]="mindDeepFocus" name="mindDeepFocus">
                        <span class="checkmark">45 min</span>
                      </label>
                    </li>
                    <li>
                      <label class="container-checkbox">
                        <input type="radio" value="60" [(ngModel)]="mindDeepFocus" name="mindDeepFocus">
                        <span class="checkmark">1 hr</span>
                      </label>
                    </li>
                    <li style="cursor: pointer;" *ngIf="mindDeepFocus != undefined "><a class="start-btn" data-toggle="modal" data-target="#deepfocus">Start</a></li>
                    <a id="openDeepfocusPopup" style="display: none;" href="#" class="start-btn" data-toggle="modal" data-target="#sessionproduct">Start</a>
                     <li ><a (click)="openminddeepfocusClock()">Start</a></li>
                  </ul>
                </div> -->
								<button routerLink="/session" _ngcontent-kfa-c1="" class="breath-nature">Breathing In
									Mindful Page <img _ngcontent-kfa-c1="" src="assets/images/right-arrow.png"></button>

							</div><!-- left-box-div -->
						</div><!-- left-main-div -->
					</div>
					<div class="right-col-div">
						<div class="right-main-div">
							<div class="top-right-div">
								<button *ngIf="guestOrUser == 'user'" type="button" class="btn upgrade"
									data-toggle="modal" data-target="#premiumpackage"><img
										src="assets/images/arrow-up-circle.png"> Upgrade</button>
								<ul class="right-icons">
									<li>
										<img style="cursor: pointer;" (click)="VolumeBarShowHide()"
											src="assets/images/volume-2.png">
										<div *ngIf="volumeShow" class="volume-slider">
											<input (change)="ChangeVolume()" id="slider" [(ngModel)]="volumeSlider"
												name="volumeSlider" type="range">
										</div>
									</li>
									<li>
										<!-- Large button groups (default and split) -->
										<div class="dropdown profile">
											<button type="button" class="btn btn-primary dropdown-toggle"
												data-toggle="dropdown">
												<img style="border-radius: 14px;" [src]="imageUser" src="{{imageUser}}">
											</button>
											<div class="dropdown-menu">
												<a style="cursor:pointer" *ngIf="guestOrUser == 'guest'"
													class="dropdown-item" href="#" data-toggle="modal"
													data-target="#signup-new">Sign Up</a>

												<!-- <a style="cursor:pointer" *ngIf="guestOrUser == 'guest'" class="dropdown-item" href="#" data-toggle="modal"  data-target="#signup">Sign Up</a> -->


												<a style="cursor:pointer" *ngIf="guestOrUser == 'guest'"
													id="signinButton" class="dropdown-item" href="#" data-toggle="modal"
													data-target="#signin">Sign In</a>

												<a style="cursor:pointer" *ngIf="guestOrUser == 'user'"
													class="dropdown-item" (click)="logout()">Log Out</a>
												<!-- <a id="signinButton" class="dropdown-item" href="#" data-toggle="modal"  data-target="#signin">Sign In</a> -->
											</div>
										</div>
									</li>
								</ul>

							</div><!-- top-right-div -->
							<div class="left-box-div">
								<ul class="right-main-div-content">
									<li>
										<h3 *ngIf="totalTime/60 > 0.9">{{totalTime/60}}</h3>
										<h3 *ngIf="totalTime/60 < 1">0</h3>
										<!-- <h3 *ngIf="totalTime/60 =< 0">0</h3> -->
										<p>Total Time Spent on Site</p>
									</li>
									<li>
										<h3>{{breatingSeassion}}</h3>
										<p>Breathing Sessions</p>
									</li>
									<li>
										<h3>{{focusSession}}</h3>
										<p>Focus Sessions</p>
									</li>
								</ul>
							</div><!-- left-box-div -->
							<div class="left-box-div breath">
								<div class="left-div-left-content">
									<h2>Background Sound <span class="info"></span></h2>
									<div class="sound-div">
										<h2>Ambient</h2>
										<ul class="tags-breath">
											<li>
												<label class="container-checkbox">
													<input type="checkbox" value="river" [checked]="checkMusic('river')"
														name="ambientCheck" ([ngModel])="ambientCheck"
														(click)="ambientMusic('river',$event)">
													<audio id="riverSound" controls loop class="audio"
														style="display: none;">
														<source src="assets/audio/river.mp3" type="audio/mpeg">
													</audio>
													<span class="checkmark">Waterfall</span>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input type="checkbox" value="waves" [checked]="checkMusic('waves')"
														name="ambientCheck" ([ngModel])="ambientCheck"
														(click)="ambientMusic('waves',$event)">
													<audio id="wavesSound" controls loop class="audio"
														style="display: none;">
														<source src="assets/audio/waves.mp3" type="audio/mpeg">
													</audio>
													<span class="checkmark">Waves</span>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input type="checkbox" [checked]="checkMusic('birds')" value="birds"
														name="ambientCheck" ([ngModel])="ambientCheck"
														(click)="ambientMusic('birds',$event)">
													<audio id="birdsSound" controls loop class="audio"
														style="display: none;">
														<source src="assets/audio/birds.mp3" type="audio/mpeg">
													</audio>
													<span class="checkmark">Birds</span>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input type="checkbox" [checked]="checkMusic('forest')"
														value="forest" name="ambientCheck" ([ngModel])="ambientCheck"
														(click)="ambientMusic('forest',$event)">
													<audio id="forestSound" controls loop class="audio"
														style="display: none;">
														<source src="assets/audio/forest.mp3" type="audio/mpeg">
													</audio>
													<span class="checkmark">Forests</span>
												</label>
											</li>
										</ul>
									</div>
									<div class="sound-div">
										<h2>Music</h2>
										<ul class="tags-breath">
											<li>
												<label class="container-checkbox">
													<input id="lofiCheck" class="musicCheckbox lofiCheck"
														type="checkbox" (click)="music('lofi',$event)">
													<span class="checkmark">Lofi</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].lofi"
														id="lofiSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/lofi.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input id="jazzCheck" class="musicCheckbox jazzCheck"
														type="checkbox" (click)="music('jazz',$event)">
													<span class="checkmark">Jazz</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].jazz"
														id="jazzSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/jazz.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input id="ambientCheck" class="musicCheckbox ambientCheck"
														type="checkbox" (click)="music('ambient',$event)">
													<span class="checkmark">Ambient</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].ambient"
														id="ambientSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/ambient.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input id="ambientCheck" class="musicCheckbox classicalCheck"
														type="checkbox" (click)="music('classical',$event)">
													<span class="checkmark">Classical</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].classical"
														id="classicalSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/classical.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
										</ul>
									</div>
									<div class="sound-div">
										<h2>Chimes</h2>
										<ul class="tags-breath">
											<li>
												<label class="container-checkbox">
													<input type="checkbox" (click)="music('mixed',$event)"
														class="musicCheckbox mixedCheck">
													<span class="checkmark">Mixed</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].mixed"
														id="mixedSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/mixed.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input class="musicCheckbox gsCheck" type="checkbox"
														(click)="music('gs',$event)">
													<span class="checkmark">G#</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].gs"
														id="gsSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/gs.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
											<li>
												<label class="container-checkbox">
													<input type="checkbox" (click)="music('cs',$event)"
														class="musicCheckbox csCheck">
													<span class="checkmark">C#</span>
													<audio *ngIf="musicArray.length > 0 && musicArray[0].cs"
														id="csSound" controls loop class="musicMain audio"
														style="display: none;">
														<source src="assets/audio/cs.mp3" type="audio/mpeg">
													</audio>
												</label>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- left-box-div -->
							<div class="left-box-div breath deep">
								<div class="left-div-left-content">
									<h2>Background Video</h2>
									<ul class="tags-breath">
										<li *ngFor="let video of videoArrayToShow; let i=index;">
											<label class="container-checkbox"
												(click)="videoChange(video.video_name,$event)">
												<input type="radio" [checked]="i == 0" name="radio">
												<span class="checkmark">{{video.video_name}}</span>
											</label>
										</li>
										<!-- <li>
                        <label class="container-checkbox" (click)="videoChange('lake',$event)">
                          <input type="radio"  name="radio" >
                          <span class="checkmark">Lake</span>
                        </label>
                      </li>
                      <li>
                        <label class="container-checkbox" (click)="videoChange('mountains',$event)">
                          <input type="radio"  name="radio" >
                          <span class="checkmark">Mountains</span>
                        </label>
                      </li> -->
									</ul>
								</div>
							</div><!-- right-main-div -->
						</div><!-- left-box-div -->
					</div>
				</div>
				<!-- <div class="breath-div">
          <div class="inner-breath">
            <p>Breath Out</p>
            <h2>2</h2>
          </div>
        </div> -->
				<!-- <div class="breath-div time">
          <div class="inner-breath">
            <h2>24 :59</h2>
          </div>
        </div> -->


				<div class="timer-main-div">
					<div *ngIf="breatheIn || breatheHold || breatheOut" class="timer-main-div-inner">
						<span *ngIf="breatheIn"> Breathe In </span>
						<p *ngIf="breatheIn">{{timetoShow}}</p>
						<span *ngIf="breatheHold">Hold</span>
						<p *ngIf="breatheHold">{{timetoShow}}</p>
						<span *ngIf="breatheOut">Breathe Out</span>
						<p *ngIf="breatheOut">{{timetoShow}}</p>
					</div>

					<div id="appShower">

					</div>
				</div>




			</div><!-- container -->
		</div><!-- main-inner -->
		<footer id="footer">
			<div class="container-fluid">
				<ul class="footer-link">
					<li style="cursor: pointer;"><a data-toggle="modal" data-target="#contact">Contact Us</a></li>
					<li style="cursor: pointer;"><a data-toggle="modal" data-target="#about">About Us</a></li>
				</ul>
			</div>
		</footer>
		<div *ngIf="videoLoader" class="loader-outer">
			<div class="loader"></div>
		</div>

	</div><!-- main-bg -->
</div><!-- wrapper -->


<!-- Modal -->
<div class="modal fade" id="calmpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div">
					<h2>Do you feel more calm?</h2>
					<p>Self awareness is key to mindfulness</p>
					<div class="select-ans">
						<label class="container-checkbox">
							<input type="radio" name="radio">
							<span class="checkmark">A lot more</span>
						</label>
						<label class="container-checkbox">
							<input type="radio" name="radio">
							<span class="checkmark">Slightly</span>
						</label>
						<label class="container-checkbox">
							<input type="radio" name="radio">
							<span class="checkmark">Not at all</span>
						</label>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="deepfocus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" id="closeDeepFocusPopup" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div">
					<h1 class="popup-logo">Cheery</h1>
					<h2>What are you focusing on?</h2>
					<p>Stating your focus improves concentration</p>
					<div class="select-ans">
						<textarea placeholder="Finishing up the UX " class="textarea-input">
                      </textarea>
						<span class="word-count">20/150</span>
						<!-- <button type="button" class="btn session" data-toggle="modal" data-dismiss="modal"  data-target="#sessionproduct">Start Session</button> -->
						<button type="button" class="btn session" (click)="openminddeepfocusClock()">Start
							Session</button>

					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="sessionproduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Was your session productive?</h2>
					<div class="select-ans session-div">
						<label class="container-checkbox" data-toggle="modal" data-dismiss="modal"
							data-target="#deepfocussession">
							<input type="radio" name="radio">
							<span class="checkmark">Very</span>
						</label>
						<label class="container-checkbox">
							<input type="radio" name="radio">
							<span class="checkmark">Average</span>
						</label>
						<label class="container-checkbox">
							<input type="radio" name="radio">
							<span class="checkmark">Not at all</span>
						</label>
						<button type="button" class="btn session" data-toggle="modal" data-dismiss="modal"
							data-target="#deepfocussession">Next</button>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->

			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="deepfocussession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div deepfocussession">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Productivity Tip</h2>
					<div class="productive-div">
						<p>Increase your productivity by working in short 25 minute sessions.</p>
						<p>
							This helps you achieve higher efficiency while reducing burnouts.
						</p>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>





<!-- Modal -->
<div class="modal signup-modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div style="padding: 11px 80px 20px;" class="popup-main-div signup">
					<!-- <h1 class="popup-logo">Cheery</h1> -->
					<h2 style="text-align: center">Sign up for a Free account.</h2>
					<p style="text-align: center">Get unlimited community focus sessions.</p>
					<!-- <ul class="signup-list">
                          <li><img src="assets/images/check-circle.png"> Mindful breathing Sessions</li>
                          <li><img src="assets/images/check-circle.png"> Deep focus sessions</li>
                          <li><img src="assets/images/check-circle.png"> Daily motivations</li>
                        </ul> -->
					<form class="signup-form">
						<div class="form-group">
							<input type="text" name="email" [(ngModel)]="email" class="input-control"
								placeholder="Email Address">
							<span style="color: red;"
								*ngIf="responseError.email_taken">{{responseError.email_taken_message}}</span>
						</div>
						<div class="form-group">
							<input type="password" name="password" [(ngModel)]="password" class="input-control"
								placeholder="Password">
						</div>
						<a href="#" class="forgot-pass">Forgot Password?</a>
						<button type="button" (click)="CheckEmail()" class="btn session"><i *ngIf="ShowSubmitLoader"
								id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign Up</button>
						<button style="display: none;" data-dismiss="modal" id="openSecondModel" type="button"
							class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup-session2"
							style="display: none;"></button>
						<div class="or-div">or Sign Up with</div>
						<div class="social-signup">
							<a (click)="socialSignIn('facebook')"><img src="assets/images/facebook.png"></a>
							<a (click)="socialSignIn('google')"><img src="assets/images/google.png"></a>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<h1 class="popup-logo">Cheery</h1>
					<h2>We’re so glad you’re here.</h2>
					<p>What should we call you?</p>
					<!-- <form class="signup-form"> -->
					<div class="form-group">
						<input type="text" placeholder="Type here..." name="name" [(ngModel)]="name"
							class="form-control">
					</div>
					<button [disabled]="name === ''" type="button" class="btn session" data-toggle="modal"
						data-dismiss="modal" data-target="#signup3">Next</button>
					<!-- </form> -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>

<!-- Modal -->

<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup3" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="finalCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Hello {{name}}!</h2>
					<p>What woud you like help with?</p>
					<div class="select-ans session-div">
						<label class="container-checkbox">
							<input name="helpingWith" value="Finding Mindfulness" [(ngModel)]="helpingWith" type="radio"
								name="radio">
							<span class="checkmark">Finding Mindfulness.</span>
						</label>
						<label class="container-checkbox">
							<input name="helpingWith" value="Focusing during Work" [(ngModel)]="helpingWith"
								type="radio" name="radio">
							<span class="checkmark">Focusing during Work</span>
						</label>
						<label class="container-checkbox">
							<input name="helpingWith" [(ngModel)]="helpingWith" value="Finding Motivation" type="radio"
								name="radio">
							<span class="checkmark">Finding Motivation</span>
						</label>
						<button (click)="submitsignupform()" type="button" class="btn session" data-toggle="modal"><i
								*ngIf="ShowSubmitLoader" id="loginLOader"
								class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Submit</button>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<div class="modal signup-modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button id="closeLoginModel" type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">
				<div class="popup-main-div signup">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Welcome Back!</h2>
					<p>Log in to your account</p>
					<form class="signup-form">
						<span *ngIf="responseError.emailErrorLogin"
							style="color: red;">{{responseError.email_taken_message}}</span>
						<div class="form-group">
							<input name="emailLogin" [(ngModel)]="emailLogin" type="text" class="input-control"
								placeholder="Email Address">
						</div>
						<div class="form-group">
							<input name="passwordLogin" [(ngModel)]="passwordLogin" type="password"
								class="input-control" placeholder="Password">
						</div>
						<a href="#" class="forgot-pass">Forgot Password?</a>
						<button (click)="signin()" type="button" class="btn session"><i *ngIf="ShowSubmitLoader"
								id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Sign In</button>
						<span data-toggle="modal" data-dismiss="modal" data-target="#sessionproduct"
							style="display: none;"></span>
						<div class="or-div">or Sign Up with</div>
						<div class="social-signup">
							<a (click)="socialSignIn('facebook')"><img src="assets/images/facebook.png"></a>
							<a (click)="socialSignIn('google')"><img src="assets/images/google.png"></a>
						</div>
					</form>
					<div class="dont-acc">
						Don’t have an account? <a style="cursor:pointer" data-toggle="modal" data-target="#signup-new"
							data-dismiss="modal">Sign up for
							Free</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal signup-modal fade" id="premiumpackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div contact">
					<h1 class="popup-logo">Cheery</h1>
					<h2>We are currently building Cheery Premium. Tell us what you’d like to see! </h2>
					<div class="select-ans">
						<textarea placeholder="Finishing up the UX "
							class="textarea-input">  Finishing up the UX               </textarea>
						<span class="word-count">20/150</span>
						<button type="button" class="btn session">Send</button>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>

<div class="modal signup-modal fade" id="headline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div contact">
					<h2>Your headline and tagline. </h2>
					<div class="select-ans">
						<textarea [(ngModel)]="headline" name="headline" placeholder="Finishing up the UX "
							class="textarea-input"
							placeholder="UX Researcher for National University of singapore"></textarea>
						<button data-toggle="modal" data-dismiss="modal" data-target="#signup2" type="button"
							class="btn session next-btn">Next</button>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal signup-modal signup-modal1 fade" id="signup-session2" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
			<div class="modal-body">

				<div class="popup-main-div signup2">
					<p>Would you describe yourself as a...</p>
					<div class="select-ans session-div">
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Employee" type="radio"
								name="describe">
							<span class="checkmark">Employee</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Student" type="radio"
								name="describe">
							<span class="checkmark">Student</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Self Employed"
								type="radio" name="describe">
							<span class="checkmark">Self Employed</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Entrepreneur"
								type="radio" name="describe">
							<span class="checkmark">Entrepreneur</span>
						</label>
						<label class="container-checkbox">
							<input [(ngModel)]="selefDescription" name="selefDescription" value="Other" type="radio"
								name="describe">
							<span class="checkmark">Other</span>
						</label>
						<div class="next-btn-div">
							<button type="button" class="btn session next-btn" data-toggle="modal"
								data-target="#headline" data-toggle="modal" data-dismiss="modal">Next</button>
							<!-- <button style="display: none;" data-dismiss="modal" id="openSecondModel" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#signup-session2" style="display: none;"></button> -->
						</div>
					</div><!-- select-ans -->
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->

<div class="modal signup-modal fade" id="headline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="back-btn"><img src="assets/images/back-btn.png"> </button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div contact">
					<h2>Your headline and tagline. </h2>
					<div class="select-ans">
						<textarea [(ngModel)]="headline" placeholder="Finishing up the UX "
							class="textarea-input"> UX Researcher for National University of singapore  </textarea>

						<button data-toggle="modal" data-dismiss="modal" data-target="#signup2" type="button"
							class="btn session next-btn">Next</button>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal signup-modal fade" id="signup-new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup">
					<h2>Sign up for a Free account.</h2>
					<ul class="signup-list">
						<li><img src="assets/images/green-tick.png"> Unlimited Focus Sessions</li>
						<li><img src="assets/images/green-tick.png"> Unlimited Focus Sounds</li>
						<li><img src="assets/images/green-tick.png"> Unlimited Mindful Minutes</li>
					</ul>
					<div class="social-signup">
						<a (click)="socialSignIn('google')" class="social-btns gmail"><img
								src="assets/images/signup-g.png">
							Continue With Google</a>
						<a (click)="socialSignIn('facebook')" class="social-btns fb"><img
								src="assets/images/signup-fb.png">
							Continue With Facebook</a>
						<a style="cursor: pointer;" data-dismiss="modal" data-toggle="modal" data-target="#signup"
							class="email-signup">or Sign-Up with email</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>



<div class="modal signup-modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div">
					<h1 class="popup-logo">Cheery</h1>
					<h2>About Cheery</h2>
					<p>My partner and I have always labeled ourselves as "not morning people" with lethargy and a lack
						of motivation in the morning being a huge problem. Last year, we developed a morning system to
						give ourselves a morning boost. To our pleasant surprise, we found that our mood and
						productivity increased a fair bit (about 15% according to mood journals)</p>
					<p>So, Cheery was founded with hopes of helping other "not morning people" have a systematic way to
						start the day better. We believe that conquering the morning is the most important step to
						conquering the day and we want to help everyone achieve this.</p>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>



<div class="modal signup-modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="modal-body">

				<div class="popup-main-div signup about-div contact">
					<h1 class="popup-logo">Cheery</h1>
					<h2>Help us make Cheery better for you. </h2>
					<p>We’ll reach back within a day.</p>
					<div class="select-ans">
						<textarea placeholder="Finishing up the UX " class="textarea-input"
							placeholder=" Finishing up the UX   "></textarea>
						<span class="word-count">20/150</span>
						<button type="button" class="btn session" data-toggle="modal" data-dismiss="modal"
							data-target="#sessionproduct">Send</button>
					</div>
				</div><!-- popup-main-div -->
			</div>
		</div>
	</div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->