<div id="wrapper-div">
    <header id="header">
        <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
        <!-- <a class="navbar-brand logo-second" href="#">Cherry</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="modal" data-target="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#contact">Contact Us</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img  [src]="imageUser" src="{{imageUser}}" width="36" height="36" class="rounded-circle">
                
                <p>{{loggedInUserName}}</p>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" >Dashboard</a>
                <!-- <a class="dropdown-item" href="#">Edit Profile</a> -->
                <a class="dropdown-item" (click)="logout()">Log Out</a>
              </div>
            </li> 
          </ul>
        </div>
      </nav>
        </div><!-- container -->
    </header><!-- header -->
    <main id="main-div">
        <div class="edit-profile-page">
            <div class="container">
                <div class="edit-profile-page-back">
                    <a routerLink="/"><img  src="assets/images/back-arrow-vector.png"> Back to Work</a>
                </div>
                <div class="edit-profile-page-main">
                    <div class="Profile-image">
                        <span class="profile-image-div"><img style="border-radius: 76px;" [src]="imageSrc" src="{{image}}"></span>
                        <input accept="image/x-png,image/gif,image/jpeg" (change)="readURL($event);" style="display: none;" type="file" id="fileUpload">
                        <span class="profile-edit" (click)="editProfile()"><img src="assets/images/edit-profile.png"></span>
                    </div>
                    <!-- <div class="focus-seeions-div">
                        <p>
                            <span>84</span><br> Focus <br>Sessions
                        </p>
                        <p>
                            <span>0</span><br> Tip <br>Points
                        </p>
                        <span class="joined-span">{{dateJoined}}</span>
                    </div> -->
                    <div class="profile-form">
                        <div class="row">
                            <div class="col">
                                <div class="form-group name">
                                    <label>Name</label>
                                    <input name="name" [(ngModel)]="name" type="text" class="form-control name-input" placeholder="Nicky Ong" value="">
                                </div>
                                <!-- <div class="form-group role">
                                    <label>Role</label>
                                    <select name="role" [(ngModel)]="role">
                                            
                                        <option value="Employee">Employee</option>
                                        <option value="Student">Student</option>
                                        <option value="Self Employed">Self Employed</option>
                                        <option value="Entrepreneur">Entrepreneur</option>
                                        <option value="Other">Other</option>
                                        
                                    </select>
                                </div> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group tagline">
                                    <label>A short description of yourself</label>
                                    <input name="tagline" [(ngModel)]="tagline"  type="text" class="form-control tagline-textarea" placeholder="Startup Founder - Cherry" value="">
                                    <!-- <span class="count-word">0/30</span> -->
                                </div>
                                <button (click)="save()" type="button" class="btn edit-profile-save"><i  *ngIf="ShowSubmitLoader" id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Save</button>
                            </div>
                        </div>
                    </div><!-- profile-form -->
                </div><!-- edit-profile-page-main -->
            </div><!-- container -->
        </div><!-- edit-profile-page -->
    </main><!-- main -->
</div><!-- wrapper-div -->
     


<div class="modal signup-modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		<div class="modal-body">
			  
			  <div class="popup-main-div signup about-div">
				<h1 class="popup-logo">Cheery</h1>
				<h2>About Cheery</h2>
				<p>My partner and I have always labeled ourselves as "not morning people" with lethargy and a lack of motivation in the morning being a huge problem. Last year, we developed a morning system to give ourselves a morning boost. To our pleasant surprise, we found that our mood and productivity increased a fair bit (about 15% according to mood journals)</p>
				<p>So, Cheery was founded with hopes of helping other "not morning people" have a systematic way to start the day better. We believe that conquering the morning is the most important step to conquering the day and we want to help everyone achieve this.</p>
			  </div><!-- popup-main-div -->
		</div>
	  </div>
	</div>
  </div>  



	<div class="modal signup-modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		<div class="modal-body">
			  
			  <div class="popup-main-div signup about-div contact">
				<h1 class="popup-logo">Cheery</h1>
				<h2>Help us make Cheery better for you. </h2>
				<p>We’ll  reach back within a day.</p>
				<div class="select-ans">
				  <textarea placeholder="Finishing up the UX " class="textarea-input">  Finishing up the UX               </textarea>
				  <span class="word-count">20/150</span>
				  <button type="button" class="btn session" data-toggle="modal" data-dismiss="modal" data-target="#sessionproduct">Send</button>
				</div>
			  </div><!-- popup-main-div -->
		</div>
	  </div>
	</div>
  </div>  

