.profile-form {
    display: block;
    margin: 0px auto 0;
    max-width: 466px;
    width: 100%;
    overflow: hidden;
}
.profile-form .form-group.name {
    float: left;
    width: 100%;
    text-align: left;
}
button.btn.edit-profile-save {
    background: #FAE1A3;
    border-radius: 6px;
    width: 100%;
    height: 54px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 108.1%;
    text-transform: capitalize;
    color: #434141;
    margin-top: 40px;
}
.profile-form .form-group.name input.form-control.name-input {
    border-radius: 6px;
}